.card span, .card-content span {
  z-index: 9;
  text-align: center;
}
.card span.cate-tab, .card-content span.cate-tab {
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 10px;
  line-height: 1.25em;
  background: #6d3c78;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 0;
  color: #fff;
}
.card .content, .card-content .content {
  padding: 20px;
  *zoom: 1;
}
.card .content:after, .card .content:before, .card-content .content:after, .card-content .content:before {
  content: "";
  display: table;
}
.card .content:after, .card-content .content:after {
  clear: both;
}
.card h3, .card-content h3 {
  color: #b90f00;
  line-height: 1.25em;
}
.card h4, .card-content h4 {
  font-weight: normal;
  padding-right: 4px;
  font-size: 0.9em;
  color: #7a7a7a;
}

.card {
  position: relative;
  width: 300px;
  height: 500px;
  background: #fff;
  text-align: justify;
  margin: 10px;
  clear: both;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  *zoom: 1;
  -moz-box-shadow: #545454 0 0 10px;
  -webkit-box-shadow: #545454 0 0 10px;
  box-shadow: #545454 0 0 10px;
}
.card:after, .card:before {
  content: "";
  display: table;
}
.card:after {
  clear: both;
}
.card span.cate-tab {
  left: 0;
}
.card span.collect {
  position: absolute;
  right: 4px;
  top: 4px;
}
.card button {
  position: absolute;
  right: 0;
  bottom: 16px;
}
.card .pic {
  width: 300px;
  height: 240px;
  position: relative;
}
.card .pic img {
  height: 240px;
  left: -70px;
  position: absolute;
  clip: rect(0px, 370px, 240px, 70px);
  padding: 0;
}
.card.short {
  height: 480px;
}
.card.short .content h3 {
  max-height: 25px;
}
.card.medium {
  height: 500px;
}
.card.medium .btn-group {
  margin-top: -10px;
}
.card.thearter .btn-group, .card.ticket .btn-group {
  display: block;
  text-align: center;
}
.card.thearter .btn-group .btn, .card.ticket .btn-group .btn {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: static;
  margin: 0 -1px;
  float: none;
}
.card.thearter .btn, .card.ticket .btn {
  padding: 8px 18px;
  border: 0;
  background: #b90f00;
  color: #fff;
}
.card.thearter .btn:hover, .card.thearter .btn:active, .card.thearter .btn:focus, .card.ticket .btn:hover, .card.ticket .btn:active, .card.ticket .btn:focus {
  background: #000;
  border: none;
}
.card .content {
  max-height: 210px;
  overflow: hidden;
}
.card .content h3, .card .content p {
  overflow: hidden;
}
.card .content h3 {
  font-size: 1.25em;
  max-height: 50px;
}
.card .content > p {
  color: #000;
  max-height: 92px;
  line-height: 1.5em;
}
.card.youtube .pic {
  width: 300px;
  height: 240px;
}
.card.youtube .pic img {
  height: 320px;
  left: -65px;
  top: -40px;
  clip: rect(40px, 365px, 280px, 65px);
}
.card.youtube .pic a {
  display: block;
  height: 240px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
  zoom: 1;
  position: relative;
  z-index: 4;
}
.card.youtube .pic a:hover {
  background-color: transparent;
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
  zoom: 1;
}
.card.youtube .pic i {
  position: absolute;
  top: 45%;
  left: 125px;
  z-index: 3;
  color: #fff;
  background: #b90f00;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  font-size: 1.75em;
}
@media only screen and (min-width: 1200px) {
  .main-content .card {
    width: 340px;
    height: 540px;
    margin: 20px 16px;
  }
  .main-content .card .pic {
    width: 340px;
    height: 272px;
  }
  .main-content .card .pic img {
    height: 272px;
    left: -79px;
    clip: rect(0, 419px, 272px, 79px);
  }
  .card.youtube .pic {
    width: 340px;
    height: 272px;
  }
  .card.youtube .pic img {
    height: 365px;
    left: -72px;
    top: -47px;
    clip: rect(47px, 412px, 319px, 72px);
  }
  .card.youtube .pic a {
    height: 272px;
  }
  .card.youtube .pic i {
    top: 41%;
    left: 145px;
  }
}
.card.ticket, .card.collection, .card.search-results {
  width: 100%;
  height: auto;
  text-align: left;
  clear: both;
}
.card.ticket .pic, .card.ticket .content, .card.collection .pic, .card.collection .content, .card.search-results .pic, .card.search-results .content {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.card.ticket .pic, .card.collection .pic, .card.search-results .pic {
  float: left;
}
.card.ticket .pic img, .card.collection .pic img, .card.search-results .pic img {
  left: 0;
  clip: inherit;
}
.card.ticket .content, .card.collection .content, .card.search-results .content {
  display: block;
}
.card.ticket .content h4, .card.collection .content h4, .card.search-results .content h4 {
  margin: 5px 0;
}
.card.ticket .content h4 span, .card.collection .content h4 span, .card.search-results .content h4 span {
  padding-right: 10px;
}
.card.ticket .content p, .card.collection .content p, .card.search-results .content p {
  padding-bottom: 6px;
  max-height: none;
}
.card.ticket .btn-group, .card.collection .btn-group, .card.search-results .btn-group {
  float: right;
  margin: -13px 26px;
}
.card.ticket {
  margin: 16px 0 !important;
}
.card.ticket .pic {
  width: 420px;
  height: 230px;
}
.card.ticket .pic img {
  height: 230px;
}
.card.collection {
  width: 100%;
  height: 80px;
  margin: 10px 1px;
  display: block;
}
.card.collection span.cate-tab {
  width: auto;
  height: auto;
  padding: 4px 10px;
  font-size: 0.9em;
  left: 146px;
  top: 0;
}
.card.collection span.collect {
  top: 20px;
  right: 6px;
}
.card.collection .pic, .card.collection h3, .card.collection .btn-group {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.card.collection h3 {
  font-size: 1em;
  width: 50%;
  max-height: 40px;
  margin: 30px 10px 0 30px;
  overflow: hidden;
  color: #000;
}
.card.collection .pic {
  width: 146px;
  height: 80px;
}
.card.collection .pic img {
  height: 80px;
}
.card.collection .btn-group {
  position: absolute;
  top: 20px;
  right: 48px;
  margin: 0;
}
.card.collection .btn-group button {
  position: static;
  margin: 0 0 0 1px;
  padding: 10px 5px;
  border: 0;
  background: #b90f00;
  color: #fff;
  font-size: 0.8em;
}
.card.collection .btn-group button:hover, .card.collection .btn-group button:active, .card.collection .btn-group button:focus {
  background: #000;
  border: none;
}
.card.collection .btn-group .dropdown-menu {
  width: 100%;
}
.card.search-results {
  height: 120px;
}
.card.search-results .content {
  padding: 10px 20px;
}
.card.search-results .pic {
  width: 219px;
  height: 120px;
}
.card.search-results .pic img {
  height: 120px;
}
.card.search-results .btn-group {
  margin: 0;
  position: absolute;
  bottom: 12px;
  right: 26px;
}
.card.search-results button {
  bottom: 12px;
  right: 16px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-content .card {
    margin: 6px;
  }
  .card.thearter {
    margin: 6px 5px;
  }
  .card.ticket .pic {
    width: 300px;
    height: 240px;
    float: left;
  }
  .card.ticket .pic img {
    height: 240px;
    left: -70px;
    position: absolute;
    clip: rect(0px, 370px, 240px, 70px);
    padding: 0;
  }
  .card.youtube {
    margin: 6px 5px;
  }
}
@media only screen and (max-width: 991px) {
  .main-content .card {
    margin: 10px 8px;
  }
  .card.ticket .pic {
    width: 300px;
    height: 240px;
  }
  .card.ticket .pic img {
    height: 240px;
    left: -70px;
    position: absolute;
    clip: rect(0px, 370px, 240px, 70px);
    padding: 0;
  }
  .card.ticket .content p {
    line-height: 1.5em;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .main-content .card {
    margin: 10px 8px;
  }
  .card.ticket .pic {
    width: 260px;
    height: 240px;
    float: left;
  }
  .card.ticket .pic img {
    height: 240px;
    left: -90px;
    position: absolute;
    clip: rect(0px, 350px, 240px, 90px);
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .card.ticket .content p {
    line-height: 1.25em;
  }
}
@media only screen and (max-width: 767px) {
  .card.ticket .pic {
    width: 100%;
    height: auto;
    float: none;
  }
  .card.ticket .pic img {
    height: auto;
    position: static;
    width: 100%;
    clip: inherit;
  }
  .card.ticket .content {
    clear: both;
    max-height: none;
  }
  .card.ticket .content p {
    line-height: 1.5em;
  }
  .card.ticket .btn-group {
    margin: -5px 26px 20px;
  }
  .card.collection span.cate-tab {
    left: 0;
  }
  .card.collection span.collect {
    top: 5px;
    right: 6px;
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .card.collection h3 {
    font-size: 1em;
    width: 54%;
    max-height: 40px;
    margin: 36px 10px 0 10px;
    overflow: hidden;
    color: #000;
  }
  .card.collection .pic {
    width: 146px;
    height: 80px;
  }
  .card.collection .pic img {
    height: 80px;
  }
  .card.collection .btn-group {
    top: 5px;
    right: 40px;
  }
  .card.collection .btn-group button {
    position: static;
    margin: 0 0 0 1px;
    padding: 6px 5px;
    border: 0;
    background: #b90f00;
    color: #fff;
    font-size: 0.8em;
  }
  .card.collection .btn-group button:hover, .card.collection .btn-group button:active, .card.collection .btn-group button:focus {
    background: #000;
    border: none;
  }
  .card.collection .btn-group .dropdown-menu {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .card {
    width: 96%;
    height: 450px;
    margin-bottom: 100px;
  }
  .card .pic {
    width: 100%;
    height: auto;
  }
  .card .pic img {
    width: 100%;
    height: auto;
    position: static;
    clip: inherit;
  }
  #news .card {
    width: 320px;
    height: 440px;
    margin: 10px auto 20px;
  }
  .card.youtube {
    width: 320px;
  }
  .card.youtube .pic {
    width: 320px;
    height: 175px;
  }
  .card.youtube .pic a {
    height: 175px;
  }
  .card.youtube .pic img {
    position: absolute;
    height: 240px;
    left: 0;
    top: -30px;
    clip: rect(30px, 320px, 205px, 0);
  }
  .card.collection h3 {
    width: 46%;
  }
  .card.collection.youtube {
    width: 100%;
  }
  .card.short {
    height: 440px;
  }
  .card.ticket .btn-group {
    float: none;
    margin: -5px auto 20px;
  }
}
@media only screen and (max-width: 420px) {
  .card {
    height: 450px;
  }
  .card.short {
    height: 390px;
  }
}
@media only screen and (max-width: 320px) {
  .card {
    width: 97%;
    height: 400px;
    margin: 16px 0;
  }
  .main-content .card {
    margin: 16px 0;
  }
  .card.collection span.collect {
    top: 40px;
    right: 6px;
  }
  .card.collection .btn-group {
    right: 6px;
  }
  .card.collection h3 {
    width: 120px;
  }
  #news .card {
    width: 286px;
    height: 410px;
  }
  .card.youtube {
    width: 286px;
  }
  .card.youtube .pic {
    width: 286px;
    height: 163px;
  }
  .card.youtube .pic a {
    height: 163px;
  }
  .card.youtube .pic img {
    position: absolute;
    height: 240px;
    left: 0;
    top: -26px;
    clip: rect(26px, 286px, 188px, 0);
  }
}
.card.collection.youtube .pic {
  width: 146px;
  height: 80px;
}
.card.collection.youtube .pic img {
  height: 120px;
  left: -7px;
  top: -16px;
  clip: rect(16px, 153px, 96px, 7px);
}
.card.collection.youtube .pic a {
  height: 80px;
}
.card.collection.youtube .pic i {
  top: 25%;
  left: 52px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.25em;
}

.card-content {
  width: 100%;
}
.card-content span.cate-tab {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 6px;
}
.card-content .content p {
  line-height: 1.75em;
}
.card-content .card p {
  line-height: 1.5em;
}
.card-content .title-group {
  margin: 60px 0 12px 68px;
}
.card-content .title-group h3 {
  font-size: 1.75em;
  line-height: 1em;
}
.card-content .title-group h4 {
  line-height: 2.9em;
}
.card-content img {
  margin: 0 auto;
}

.thearter-list {
  margin: 20px auto;
  padding: 20px 0;
  text-align: center;
  *zoom: 1;
}
.thearter-list:after, .thearter-list:before {
  content: "";
  display: table;
}
.thearter-list:after {
  clear: both;
}
.thearter-list p {
  margin: 10px auto;
}
