.card span, .card-content span {
  z-index: 9;
  text-align: center;
}
.card span.cate-tab, .card-content span.cate-tab {
  position: absolute;
  width: 60px;
  height: 60px;
  padding: 10px;
  line-height: 1.25em;
  background: #6d3c78;
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 0;
  color: #fff;
}
.card .content, .card-content .content {
  padding: 20px;
  *zoom: 1;
}
.card .content:after, .card .content:before, .card-content .content:after, .card-content .content:before {
  content: "";
  display: table;
}
.card .content:after, .card-content .content:after {
  clear: both;
}
.card h3, .card-content h3 {
  color: #b90f00;
  line-height: 1.25em;
}
.card h4, .card-content h4 {
  font-weight: normal;
  padding-right: 4px;
  font-size: 0.9em;
  color: #7a7a7a;
}

.card {
  position: relative;
  width: 300px;
  height: 500px;
  background: #fff;
  text-align: justify;
  margin: 10px;
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -moz-box-shadow: #545454 0 0 10px;
  -webkit-box-shadow: #545454 0 0 10px;
  box-shadow: #545454 0 0 10px;
}
.card span.cate-tab {
  left: 0;
}
.card span.collect {
  position: absolute;
  right: 4px;
  top: 4px;
}
.card button {
  position: absolute;
  right: 0;
  bottom: 16px;
}
.card .pic {
  width: 300px;
  height: 240px;
  position: relative;
}
.card .pic img {
  height: 240px;
  left: -70px;
  position: absolute;
  clip: rect(0px, 370px, 240px, 70px);
  padding: 0;
}
.card.youtube .pic {
  width: 300px;
  height: 240px;
}
.card.youtube .pic img {
  height: 320px;
  left: -65px;
  top: -40px;
  clip: rect(40px, 365px, 280px, 65px);
}
.card.youtube .pic a {
  display: block;
  height: 240px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
  zoom: 1;
  position: relative;
  z-index: 4;
}
.card.youtube .pic a:hover {
  background-color: transparent;
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
  zoom: 1;
}
.card.youtube .pic i {
  position: absolute;
  top: 45%;
  left: 125px;
  z-index: 3;
  color: #fff;
  background: #b90f00;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  font-size: 1.75em;
}
.main-content .card {
  width: 340px;
  height: 540px;
  margin: 16px;
  float: none;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.main-content .card .pic {
  width: 340px;
  height: 272px;
}
.main-content .card .pic img {
  height: 272px;
  left: -79px;
  clip: rect(0, 419px, 272px, 79px);
}
.main-content .card.youtube .pic {
  width: 340px;
  height: 272px;
}
.main-content .card.youtube .pic img {
  height: 365px;
  left: -72px;
  top: -47px;
  clip: rect(47px, 412px, 319px, 72px);
}
.main-content .card.youtube .pic a {
  display: block;
  height: 240px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
  zoom: 1;
  position: relative;
  z-index: 4;
}
.main-content .card.youtube .pic a:hover {
  background-color: transparent;
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
  zoom: 1;
}
.main-content .card.youtube .pic i {
  position: absolute;
  top: 45%;
  left: 125px;
  z-index: 3;
  color: #fff;
  background: #b90f00;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  font-size: 1.75em;
}
.card.short {
  height: 480px;
}
.card.short .content h3 {
  max-height: 25px;
}
.card.medium {
  height: 500px;
}
.card.medium .btn-group {
  margin-top: -10px;
}
.card.ticket {
  width: 90%;
}
.card.ticket .pic, .card.ticket .content {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.card.ticket .content {
  width: auto;
}
.card .content {
  max-height: 210px;
  overflow: hidden;
}
.card .content h3, .card .content p {
  overflow: hidden;
}
.card .content h3 {
  font-size: 1.25em;
  max-height: 50px;
}
.card .content > p {
  color: #000;
  max-height: 92px;
  line-height: 1.5em;
}
@media only screen and (max-width: 991px) {
  .main-content .card {
    margin: 10px 8px;
  }
}
@media only screen and (max-width: 480px) {
  .main-content .card {
    width: 286px;
    height: 500px;
    margin: 10px auto;
  }
  .card.youtube .pic {
    width: 300px;
    height: 240px;
  }
  .card.youtube .pic img {
    height: 320px;
    left: -70px;
    top: -40px;
    clip: rect(40px, 356px, 280px, 70px);
  }
}

.card-content {
  width: 100%;
}
.card-content span.cate-tab {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 6px;
}
.card-content .content p {
  line-height: 1.75em;
}
.card-content .card p {
  line-height: 1.5em;
}
.card-content .title-group {
  margin-left: 68px;
  margin-bottom: 12px;
}
.card-content .title-group h3 {
  font-size: 1.75em;
  line-height: 1em;
}
.card-content .title-group h4 {
  line-height: 2.9em;
}
.card-content img {
  margin: 0 auto;
}

.thearter-list {
  margin: 20px auto;
  padding: 20px 0;
  *zoom: 1;
}
.thearter-list:after, .thearter-list:before {
  content: "";
  display: table;
}
.thearter-list:after {
  clear: both;
}
.thearter-list p {
  margin: 10px auto;
}
.thearter-list .btn-group {
  margin: 10px auto;
  display: block;
  text-align: center;
}
.thearter-list .btn-group .btn {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: static;
  margin: 0 -1px;
  float: none;
}
.thearter-list .btn {
  padding: 8px 18px;
  border: 0;
  background: #b90f00;
  color: #fff;
}
.thearter-list .btn:hover, .thearter-list .btn:active, .thearter-list .btn:focus {
  background: #000;
  border: none;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .thearter-list .card {
    margin: 6px;
  }
}
