@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ------------ base ------------ */
body, html {
  min-height: 100% !important;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif,'arial', "微軟正黑體", "Microsoft JhengHei";
  font-size: 100%;
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.75;
  background: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.8;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.125em;
}

p {
  font-size: 1em;
}

a {
  color: #b90f00;
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}
a:hover, a:focus {
  text-decoration: none;
  color: #940C00;
}

hr {
  margin: 40px auto;
}

.clearfix {
  *zoom: 1;
}
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.red {
  color: #b90f00;
}

.yellow {
  color: #f8b31c;
}

i.fa {
  margin: 0 5px;
}

i.fa-line {
  background: #00c300 url('../images/icon_line.png?1448681882') center center no-repeat;
  -moz-background-size: 60%;
  -o-background-size: 60%;
  -webkit-background-size: 60%;
  background-size: 60%;
  width: 26px;
  height: 26px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin: 0 5px;
}

i.fa-yahoo-custom {
  background: url('../images/icon_yahoo.png?1448789811') bottom no-repeat;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  width: 30px;
  height: 19px;
  margin-top: 2px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="tel"], button.btn {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  box-shadow: none;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], select.form-control {
  border: 2px solid #d2d2d2;
}

.form-control {
  margin: 10px auto;
}
.form-control label {
  text-align: left;
}

.form-group {
  *zoom: 1;
}
.form-group:after, .form-group:before {
  content: "";
  display: table;
}
.form-group:after {
  clear: both;
}

button.btn {
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}

button.btn-normal {
  color: #000;
  padding: 8px 20px;
  float: right;
  margin: 0 20px;
  border: 3px solid #d2d2d2;
  background: #fff;
}
button.btn-normal:hover, button.btn-normal:focus {
  background: #b90f00;
  color: #fff;
  border: 3px solid #b90f00;
}

.btn-custom, .btn-fb, .btn-yh {
  margin: 4px;
  color: #fff;
}
.btn-custom:hover, .btn-fb:hover, .btn-yh:hover {
  color: #fff;
}

.btn-default {
  border: 3px solid #d2d2d2;
}

.btn-primary {
  background: #b90f00;
  border: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #940C00;
}

.btn-fb {
  background: #3b5998;
}
.btn-fb:hover {
  background-color: transparent;
  background-color: rgba(59, 89, 152, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC3B5998,endColorstr=#CC3B5998);
  zoom: 1;
}
.btn-fb.btn-lg {
  padding: 13px 16px;
}

.btn-yh {
  background: #410093;
}
.btn-yh:hover {
  background-color: transparent;
  background-color: rgba(65, 0, 147, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC410093,endColorstr=#CC410093);
  zoom: 1;
}
.btn-yh.btn-lg {
  padding-top: 13px;
  padding-bottom: 10px;
}

.tab-group {
  padding: 10px 0;
  border-bottom: 1px solid #d2d2d2;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .tab-group {
    text-align: center;
  }
}

.tab {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
  background: #e9e9e9;
  border: 1px solid #e9e9e9;
  overflow: hidden;
  margin: 3px;
  color: #000;
  padding: 4px 10px;
  width: 90px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.tab:hover, .tab:focus {
  background: #b90f00;
  color: #fff;
}
.tab.is-checked {
  background: #b90f00;
  color: #fff;
}

.isotope {
  width: 800px;
  margin: 0 auto;
}
@media only screen and (max-width: 991px) {
  .isotope {
    width: 640px;
  }
}
@media only screen and (max-width: 767px) {
  .isotope {
    width: 320px;
  }
}

.main-content .isotope {
  width: 1140px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .main-content .isotope {
    width: 1200px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-content .isotope {
    width: 750px;
  }
}
@media only screen and (max-width: 991px) {
  .main-content .isotope {
    width: 750px;
  }
}
@media only screen and (max-width: 767px) {
  .main-content .isotope {
    width: 350px;
  }
}
@media only screen and (max-width: 320px) {
  .main-content .isotope {
    width: 320px;
  }
}

.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ------------ elements ------------ */
a[data-toggle=modal] {
  cursor: pointer;
}

.modal-backdrop.in {
  opacity: 1;
}

.modal-dialog {
  width: 100% !important;
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  *zoom: 1;
}
.modal-dialog:after, .modal-dialog:before {
  content: "";
  display: table;
}
.modal-dialog:after {
  clear: both;
}
.modal-dialog .modal-content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5% 0;
  box-shadow: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.crazyad .modal-dialog .modal-content {
  background: #000;
  padding: 0;
}
.video-stack .modal-dialog .modal-content {
  background: #000;
}
@media only screen and (max-width: 768px) {
  .modal-dialog .modal-content {
    padding: 50px 0 10px;
  }
}
.modal-dialog .modal-body {
  padding: 0;
  height: 100%;
  *zoom: 1;
}
.modal-dialog .modal-body:after, .modal-dialog .modal-body:before {
  content: "";
  display: table;
}
.modal-dialog .modal-body:after {
  clear: both;
}
.modal-dialog iframe {
  display: table-cell;
  height: 100%;
  width: 100%;
}

.carousel {
  width: 80%;
  margin: 0 auto;
}
.carousel .carousel-inner {
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .carousel {
    margin: 20px auto 40px;
  }
}

.carousel-info ul {
  margin: 0 auto;
  padding: 6px;
  width: 80%;
}
.carousel-info ul li {
  display: block;
  margin: 0 auto;
}
.carousel-info ul li span {
  display: inline-block;
  vertical-align: top;
}
.carousel-info ul li span:nth-of-type(1) {
  width: 80px;
  text-align: right;
}
.carousel-info ul li span:nth-of-type(2) {
  width: 70%;
}
@media only screen and (max-width: 768px) {
  .carousel-info ul {
    width: 100%;
  }
}

.fix-icon {
  position: fixed;
  right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1em;
  line-height: 50px;
  z-index: 1000;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background-color: transparent;
  background-color: rgba(185, 15, 0, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6B90F00,endColorstr=#E6B90F00);
  zoom: 1;
  -moz-box-shadow: #000 0 0 10px;
  -webkit-box-shadow: #000 0 0 10px;
  box-shadow: #000 0 0 10px;
}
.fix-icon a {
  display: block;
  color: #fff;
  height: 50px;
}
.fix-icon i {
  font-size: 1.125em;
}
.fix-icon.top {
  bottom: 20px;
}
.fix-icon.top i {
  font-size: 1.5em;
}
.fix-icon.series-icon {
  bottom: 80px;
}
.fix-icon.series-icon img {
  margin: 11px 4px;
}
.fix-icon.series-icon .dropdown-menu {
  width: 100px;
  min-width: auto;
  left: -40px;
  top: -230px;
  background-color: transparent;
  background-color: rgba(185, 15, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCB90F00,endColorstr=#CCB90F00);
  zoom: 1;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.fix-icon.series-icon .dropdown-menu li a {
  color: #fff;
  line-height: 2em;
  height: auto;
}
.fix-icon.series-icon .dropdown-menu li a:hover {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D000000,endColorstr=#4D000000);
  zoom: 1;
}

.close {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  opacity: 1;
  overflow: hidden;
  display: inline-block;
  z-index: 9999;
  cursor: pointer;
  top: 12px;
  right: 12px;
  background: #fff;
}
.close:hover {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
  zoom: 1;
}
.close:hover::before, .close:hover::after {
  background: #000;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
}
.video-stack .close {
  background: #b90f00;
  color: #fff;
}
.crazyad .close {
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background: #b90f00;
}
.crazyad .close::before, .crazyad .close::after {
  background: #fff;
}
.close::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close.hairline::before, .close.hairline::after {
  height: 1px;
}

.arrow {
  display: block;
  width: 40px;
  height: 100px;
  cursor: pointer;
  position: absolute;
  top: 37.5%;
  background-color: transparent;
  background-color: rgba(185, 15, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3B90F00,endColorstr=#B3B90F00);
  zoom: 1;
}
.arrow:hover, .arrow:focus {
  background: #b90f00;
}
.arrow::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  width: 20px;
  height: 20px;
  top: 38px;
  content: "";
  display: inline-block;
  margin-right: 0.5em;
}
.arrow.arrow-right {
  right: 0;
}
.arrow.arrow-right::before {
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  left: 6px;
}
.arrow.arrow-left {
  left: 0;
}
.arrow.arrow-left::before {
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  left: 17px;
}

.btn-search {
  padding: 3px;
  background: #fff;
  padding: 7px 8px 8px;
}

.collect {
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.collect a {
  color: #fff;
  display: block;
  text-shadow: 0 0 2px #940C00;
  background-color: transparent;
  background-color: rgba(185, 15, 0, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66B90F00,endColorstr=#66B90F00);
  zoom: 1;
}
.collect a:hover {
  background-color: transparent;
  background-color: rgba(185, 15, 0, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6B90F00,endColorstr=#E6B90F00);
  zoom: 1;
}
.collect a.collected {
  background-color: transparent;
  background-color: #b90f00;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFB90F00,endColorstr=#FFB90F00);
  zoom: 1;
  text-shadow: none;
}

.video {
  position: relative;
  margin-bottom: 40px;
}
.video video {
  -moz-box-shadow: #000 0 0 10px;
  -webkit-box-shadow: #000 0 0 10px;
  box-shadow: #000 0 0 10px;
  background: #000;
  width: 80%;
  display: block;
  margin: 0 auto;
  height: auto !important;
}
.modal-body .video video {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .video video {
    width: 90%;
    margin-bottom: 20px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.top-banner .video-container iframe, .top-banner .video-container object, .top-banner .video-container embed {
  height: 91%;
}

/* ------------ layout ------------ */
#wrapper {
  min-height: 100%;
}

#navigation header {
  background: #000;
  position: relative;
}
#navigation header h2.logo {
  padding: 30px 0;
  background: #000;
}
#navigation header h2.logo img {
  margin: 0 auto;
}
#navigation header .top-nav {
  position: absolute;
  right: 10%;
  top: 10px;
}
#navigation header .top-nav > ul > li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-bottom: 6px;
}
#navigation header .top-nav > ul > li a {
  color: #fff;
  display: block;
}
#navigation header .top-nav > ul > li .dropdown-menu {
  padding: 6px;
}
#navigation header .top-nav > ul > li .dropdown-menu.social-media li a {
  color: #000;
}
#navigation header .top-nav > ul > li .dropdown-menu.search {
  width: 270px;
  left: -110px;
}
#navigation header .top-nav > ul > li .dropdown-menu.search input[type="text"]:focus, #navigation header .top-nav > ul > li .dropdown-menu.search input[type="text"]:hover, #navigation header .top-nav > ul > li .dropdown-menu.search input[type="text"]:active, #navigation header .top-nav > ul > li .dropdown-menu.search div[type="button"]:focus, #navigation header .top-nav > ul > li .dropdown-menu.search div[type="button"]:hover, #navigation header .top-nav > ul > li .dropdown-menu.search div[type="button"]:active, #navigation header .top-nav > ul > li .dropdown-menu.search .input-group-btn:focus, #navigation header .top-nav > ul > li .dropdown-menu.search .input-group-btn:hover, #navigation header .top-nav > ul > li .dropdown-menu.search .input-group-btn:active, #navigation header .top-nav > ul > li .dropdown-menu.search i:focus, #navigation header .top-nav > ul > li .dropdown-menu.search i:hover, #navigation header .top-nav > ul > li .dropdown-menu.search i:active {
  box-shadow: none;
}
#navigation header .top-nav > ul > li .dropdown-menu.language {
  padding: 5px 0;
  width: 60px;
  left: -11px;
  min-width: auto;
}
#navigation header .top-nav > ul > li .dropdown-menu.language li {
  display: block;
  margin: 0;
}
#navigation header .top-nav > ul > li .dropdown-menu.language li a {
  font-size: 0.9em;
  color: #000;
  background: #fff;
  display: block;
  text-align: center;
}
#navigation header .top-nav > ul > li .dropdown-menu.language li a:hover {
  background: #d2d2d2;
}
#navigation header .top-nav > ul > li .dropdown-menu.language::before {
  left: 21px;
}
#navigation nav.navbar {
  margin-bottom: 0;
  background-color: transparent;
  background-color: rgba(185, 15, 0, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCB90F00,endColorstr=#CCB90F00);
  zoom: 1;
  -moz-box-shadow: #000 0 0 10px;
  -webkit-box-shadow: #000 0 0 10px;
  box-shadow: #000 0 0 10px;
}
#navigation nav .navbar-header button {
  margin: 8px 5px;
  padding: 12px 5px;
}
#navigation nav .navbar-header i {
  color: #fff;
}
#navigation nav .navbar-collapse {
  max-height: 400px;
}
#navigation nav .navbar-collapse ul.navbar-nav {
  width: 100%;
  float: none;
  text-align: center;
}
#navigation nav .navbar-collapse ul.navbar-nav > li {
  float: none;
  border: none;
  cursor: pointer;
  margin-left: -4px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#navigation nav .navbar-collapse ul.navbar-nav > li > a {
  color: #fff;
  font-size: 1em;
  padding: 18px 30px;
}
#navigation nav .navbar-collapse ul.navbar-nav > li > a:hover, #navigation nav .navbar-collapse ul.navbar-nav > li > a:focus {
  background-color: transparent;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000,endColorstr=#FF000000);
  zoom: 1;
  color: #fff;
}
#navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu {
  font-size: 1em;
  border: none;
  min-width: auto;
  -moz-box-shadow: #000 0 0 10px;
  -webkit-box-shadow: #000 0 0 10px;
  box-shadow: #000 0 0 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu.drop-about {
  width: 166px;
}
#navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu.drop-products {
  width: 134px;
}
#navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu li {
  display: block;
  margin: 0;
}
#navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu a {
  color: #000;
  display: block;
  padding: 15px 30px;
}
#navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu a:hover, #navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu a:focus, #navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu a.active {
  color: #000;
  background: #e9e9e9;
}
#navigation nav .navbar-collapse .nav .open {
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  -webkit-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
}
#navigation nav .navbar-collapse .nav .open > a {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
  zoom: 1;
  border: none;
}
#navigation .visible-xs-block > ul {
  cursor: default;
  padding: 10px;
  margin-bottom: 1px;
}
#navigation .visible-xs-block > ul > li {
  vertical-align: top;
  overflow: hidden;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  -moz-border-radius: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  margin: 0 4px 10px;
}
#navigation .visible-xs-block > ul > li > a {
  color: #fff;
  width: 42px;
  height: 42px;
  padding: 0;
  font-size: 1.125em;
  display: block;
  text-align: center;
}
#navigation .visible-xs-block > ul.language li a {
  font-size: 0.9em;
  line-height: 42px;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
  zoom: 1;
}
#navigation .visible-xs-block > ul.language li a:hover, #navigation .visible-xs-block > ul.language li a:focus, #navigation .visible-xs-block > ul.language li a:active {
  background: #f8b31c;
}
#navigation .visible-xs-block > ul.social-media {
  border-top: 1px solid #940C00;
  margin-top: 5px;
  padding-top: 20px;
}
#navigation input[type="text"], #navigation button.btn {
  border: 0;
  margin-top: 0;
}
#navigation #search-xs {
  padding: 10px 20px;
}
#navigation .visible-xs-block .social-media li {
  -moz-box-shadow: 0 0 3px #fff;
  -webkit-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
}
#navigation .visible-xs-block .social-media li i {
  width: 42px;
  height: 42px;
  display: block;
  margin: 0;
  line-height: 42px;
}
#navigation .visible-xs-block .social-media li.copy-link {
  display: block;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#navigation .visible-xs-block .social-media li.copy-link .btn {
  width: 32px;
  background: #000;
}
#navigation .visible-xs-block .social-media li.copy-link .btn a {
  padding: 0;
}
#navigation .visible-xs-block .social-media li.copy-link .btn a i {
  margin: 0 5px;
  height: 32px;
  line-height: 32px;
  color: #fff;
}
@media only screen and (max-width: 991px) {
  #navigation nav #main-nav ul.navbar-nav > li > a {
    font-size: 1em;
    padding: 18px 20px;
  }
  #navigation nav #main-nav ul.navbar-nav .dropdown-menu.drop-about {
    width: 146px;
  }
  #navigation nav #main-nav ul.navbar-nav .dropdown-menu.drop-theater {
    width: 114px;
  }
  #navigation nav #main-nav ul.navbar-nav .dropdown-menu a {
    padding: 12px 20px;
  }
}
@media only screen and (max-width: 767px) {
  #navigation .top-nav {
    display: none;
  }
  #navigation header {
    position: absolute;
    background-color: transparent;
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
    zoom: 1;
  }
  #navigation header h2.logo {
    position: relative;
    z-index: 99;
    padding: 12px 15px;
    width: 80%;
    background-color: transparent;
    background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#00000000);
    zoom: 1;
  }
  #navigation nav .navbar-collapse ul.navbar-nav {
    width: auto;
  }
  #navigation nav .navbar-collapse ul.navbar-nav > li {
    display: block;
    margin: 0;
  }
  #navigation nav .navbar-collapse ul.navbar-nav > li a {
    text-align: center;
  }
  #navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu {
    width: auto !important;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
    zoom: 1;
  }
  #navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu a {
    color: #fff;
  }
  #navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu a:hover, #navigation nav .navbar-collapse ul.navbar-nav .dropdown-menu a:focus {
    color: #fff;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
    zoom: 1;
  }
}
@media only screen and (max-width: 320px) {
  #navigation .navbar-header button {
    margin: 5px;
    padding: 6px 5px;
  }
  #navigation header h2.logo {
    padding: 18px 15px;
    width: 65%;
  }
}

@media only screen and (min-width: 769px) {
  #navigation .dropdown-menu::after, .dropdown-menu.social-media::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    top: 0;
    left: 49.8%;
    box-sizing: border-box;
    border: 3px solid #fff;
    border-color: #fff #fff transparent transparent;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: 1px -1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}
.dropdown-menu.social-media {
  padding: 12px 10px 6px;
  width: 260px;
  left: -108px;
}
.dropdown-menu.social-media li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 110px;
  margin: 2px;
  text-align: left;
}
.dropdown-menu.social-media li a {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 2px;
  width: 100px;
  color: #000;
}
.dropdown-menu.social-media li a i {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  color: #fff;
  width: 26px;
  height: 26px;
  line-height: 26px;
  padding: 0;
  font-size: 1.125em;
  text-align: center;
}
.dropdown-menu.social-media::before {
  left: 80px;
}
.content .dropdown-menu.social-media {
  left: -168px;
}
.content .dropdown-menu.social-media::after {
  left: 188px;
}

.dropdown-menu.social-media li,
.visible-xs-block .social-media li {
  -moz-box-shadow: 0 0 3px #fff;
  -webkit-box-shadow: 0 0 3px #fff;
  box-shadow: 0 0 3px #fff;
}
.dropdown-menu.social-media li.copy-link,
.visible-xs-block .social-media li.copy-link {
  display: block;
}
.dropdown-menu.social-media li:nth-of-type(1) i,
.visible-xs-block .social-media li:nth-of-type(1) i {
  background: #3b5998;
}
.dropdown-menu.social-media li:nth-of-type(2) i,
.visible-xs-block .social-media li:nth-of-type(2) i {
  background: #55acee;
}
.dropdown-menu.social-media li:nth-of-type(4) i,
.visible-xs-block .social-media li:nth-of-type(4) i {
  background: #7bb32e;
}
.dropdown-menu.social-media li:nth-of-type(5) i,
.visible-xs-block .social-media li:nth-of-type(5) i {
  background: #dc4e41;
}
.dropdown-menu.social-media li:nth-of-type(6) i,
.visible-xs-block .social-media li:nth-of-type(6) i {
  background: #bd081c;
}
.dropdown-menu.social-media li:nth-of-type(7) i,
.visible-xs-block .social-media li:nth-of-type(7) i {
  background: #d52b2b;
}
.dropdown-menu.social-media li:nth-of-type(8) i,
.visible-xs-block .social-media li:nth-of-type(8) i {
  background: #0077b5;
}
.dropdown-menu.social-media li.copy-link,
.visible-xs-block .social-media li.copy-link {
  width: auto !important;
  height: 50px;
}
.dropdown-menu.social-media li.copy-link .btn,
.dropdown-menu.social-media li.copy-link input,
.visible-xs-block .social-media li.copy-link .btn,
.visible-xs-block .social-media li.copy-link input {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}
.dropdown-menu.social-media li.copy-link input,
.visible-xs-block .social-media li.copy-link input {
  width: 190px;
}
.dropdown-menu.social-media li.copy-link .btn,
.visible-xs-block .social-media li.copy-link .btn {
  padding: 0;
  color: #000;
  height: 32px;
  line-height: 30px;
  text-align: center;
  background: #e9e9e9;
}
.dropdown-menu.social-media li.copy-link .btn a,
.visible-xs-block .social-media li.copy-link .btn a {
  padding: 2px;
  width: 32px;
  height: 32px;
}
.dropdown-menu.social-media li.copy-link .btn a i,
.visible-xs-block .social-media li.copy-link .btn a i {
  width: auto;
  color: #545454;
}

footer {
  background: #b90f00;
  margin-top: -100px;
}
#index footer {
  margin-top: 2px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}
footer .container {
  display: table;
}
footer .container .row {
  display: table-row;
}
footer .col-md-8, footer .col-md-4 {
  display: table-cell;
  height: 100%;
  vertical-align: top;
  padding: 30px 15px;
}
footer .col-md-8.no-float, footer .col-md-4.no-float {
  float: none;
}
footer .col-md-4 {
  background: #940C00;
}
footer .col-md-4 p {
  color: #fff;
  line-height: 2.5em;
}
footer .col-md-4 p span {
  font-size: 0.9em;
  color: #d2d2d2;
  display: block;
}
footer .footer-menu {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-right: 20px;
  text-align: left;
}
footer .footer-menu h5 {
  color: #d2d2d2;
  font-size: 1.125em;
  margin-bottom: 16px;
}
footer .footer-menu h5 a {
  color: #d2d2d2;
}
footer .footer-menu h5 a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .footer-menu a {
  color: #fff;
}
footer .footer-menu > ul {
  padding-left: 4px;
  margin: 0 0 10px 10px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
footer .footer-menu > ul > li {
  padding: 10px 0;
  margin-bottom: 4px;
  color: #fff;
  font-size: 1em;
}
footer .footer-menu > ul > li a {
  display: block;
  padding: 0 0 0 10px;
  border-left: 4px solid #fff;
  line-height: 1;
}
footer .footer-menu > ul > li a:hover {
  color: #f8b31c;
  border-left: 4px solid #f8b31c;
}
footer .footer-menu > ul > ul {
  padding-left: 10px;
  margin-top: -10px;
}
footer .footer-menu > ul > ul li {
  font-size: 0.9em;
  line-height: 2.5em;
  border-bottom: 1px solid #e8999d;
  padding: 0 6px;
  margin-bottom: 4px;
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}
footer .footer-menu > ul > ul li a:hover {
  color: #f8b31c;
}
footer .footer-menu > ul > ul li:hover {
  border-bottom: 1px solid #f8b31c;
}
@media only screen and (max-width: 991px) {
  footer .container {
    width: 100%;
    padding: 0;
  }
  footer .col-md-8, footer .col-md-4 {
    display: block;
    padding: 30px;
  }
}
