body {
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .col-sm-3, .col-sm-9, .container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.member {
  text-align: center;
}
.member h2 {
  color: #b90f00;
}
.member span a {
  text-decoration: underline;
  padding: 0 3px;
  font-size: 0.9em;
}
.member .member-block {
  margin: 30px 0;
}
.member .member-block:first-of-type {
  border-right: 1px solid #d2d2d2;
}
.member .member-block:first-of-type span a {
  margin: 0 10px;
}
.member .member-block:first-of-type section:first-of-type .btn-fb {
  display: block;
  margin: 10px auto;
}
.member .member-block section {
  width: 80%;
  margin: 0 auto;
}
.member .member-block section .form-group input[type="text"], .member .member-block section .form-group input[type="tel"], .member .member-block section .form-group input[type="email"], .member .member-block section .form-group input[type="password"], .member .member-block section .form-group select {
  width: 200px;
  display: block;
}
.member .member-block section .checkbox {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.5em;
}
@media only screen and (max-width: 768px) {
  .member .member-block:first-of-type {
    border-right: 0;
    border-bottom: 1px solid #b90f00;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .member .member-block:first-of-type span a {
    margin: 0 10px;
    font-size: 0.9em;
  }
}
.member .member-block.col-sm-12 {
  border: none;
}

.btn-fb span, .btn-yh span {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 22px;
  margin-top: 0;
  vertical-align: top;
}
.btn-fb span:before, .btn-yh span:before {
  border-left: 1px solid #fff;
  padding-left: 10px;
  content: "";
}

.pwd p {
  padding: 20px 0;
}

.nav-tabs {
  text-align: left;
  border-bottom: none;
  margin: 30px auto;
}
.nav-tabs > li {
  border-bottom: 1px solid #d2d2d2 !important;
  margin-bottom: 0;
  width: 100%;
}
.nav-tabs > li * {
  border: none !important;
}
.nav-tabs > li > a {
  color: #545454;
  display: block;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  color: #b90f00;
  background-color: transparent;
  background-color: rgba(233, 233, 233, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E9E9E9,endColorstr=#99E9E9E9);
  zoom: 1;
}
.nav-tabs > li.active {
  border: 0;
}
.nav-tabs > li.active > a {
  color: #b90f00;
}
.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #b90f00;
}
@media only screen and (max-width: 768px) {
  .nav-tabs {
    text-align: center;
    padding-left: 20px;
  }
  .nav-tabs > li {
    width: 30%;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  .nav-tabs > li > a {
    padding: 12px;
    color: #545454;
    display: block;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 0 0;
    text-decoration: none;
  }
  .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #b90f00;
    background-color: transparent;
    background-color: rgba(233, 233, 233, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E9E9E9,endColorstr=#99E9E9E9);
    zoom: 1;
  }
  .nav-tabs > li.active {
    border: 0;
  }
  .nav-tabs > li.active > a {
    color: #b90f00;
    background-color: transparent;
    background-color: rgba(233, 233, 233, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E9E9E9,endColorstr=#99E9E9E9);
    zoom: 1;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 0 0;
  }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #b90f00;
    background-color: transparent;
    background-color: rgba(233, 233, 233, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99E9E9E9,endColorstr=#99E9E9E9);
    zoom: 1;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px;
    border-radius: 8px 8px 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .nav-tabs > li > a {
    height: 68px;
    font-size: 0.9em;
  }
  .nav-tabs > li i {
    display: none;
  }
  .nav-tabs > li span {
    display: block;
  }
}

.tab-content, .tab-pane {
  *zoom: 1;
}
.tab-content:after, .tab-content:before, .tab-pane:after, .tab-pane:before {
  content: "";
  display: table;
}
.tab-content:after, .tab-pane:after {
  clear: both;
}

.profile-sider img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 10px auto;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.profile .member-block {
  min-height: 500px;
  border-left: 1px solid #d2d2d2;
}
.profile .member-block section {
  width: 100%;
}
.profile .member-block section .form-group input[type="text"], .profile .member-block section .form-group input[type="tel"], .profile .member-block section .form-group input[type="email"], .profile .member-block section .form-group input[type="password"], .profile .member-block section .form-group select {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.profile .member-block .profile-photo {
  width: 180px;
  height: 180px;
  margin: 10px 0 40px;
  position: relative;
}
.profile .member-block .profile-photo span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF);
  zoom: 1;
  text-align: center;
  font-size: 0.9em;
}
.profile .member-block .profile-photo span a {
  color: #fff;
}
.profile .member-block .form-group {
  text-align: left;
  margin-bottom: 0;
}
.profile .member-block .form-group span, .profile .member-block .form-group div {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 70px;
}
.profile .member-block .col-sm-12 .checkbox {
  background-color: transparent;
  background-color: rgba(210, 210, 210, 0.3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4DD2D2D2,endColorstr=#4DD2D2D2);
  zoom: 1;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .profile .member-block {
    border-left: 0;
  }
  .profile .member-block .profile-photo {
    margin: 10px auto 40px;
  }
}
.profile .qrcode {
  width: 200px;
  margin: 10px auto;
}
