.top-banner {
  padding-top: 172px;
  max-width: 1280px;
  margin: 0 auto;
}
.top-banner img {
  margin: 0 auto;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .top-banner {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .top-banner {
    padding-top: 70px;
  }
  .top-banner .content {
    width: 90%;
    position: static;
    margin: 0 auto;
  }
}

.breadcrumbs {
  height: 3.125em;
  border-bottom: 1px solid #b90f00;
  border-top: 1px solid #b90f00;
}
.breadcrumbs li {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 4px;
  color: #fff;
}
.breadcrumbs li a {
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 3.125em;
}
.breadcrumbs li a:hover {
  text-decoration: underline;
}
.breadcrumbs li:after {
  content: ">";
  padding: 0 4px 0 7px;
}
.breadcrumbs li:nth-last-of-type(1):after {
  content: "";
}

.main-content {
  color: #fff;
  margin-bottom: 200px;
  padding-top: 30px;
  *zoom: 1;
}
.main-content:after, .main-content:before {
  content: "";
  display: table;
}
.main-content:after {
  clear: both;
}
.main-content h1 {
  font-size: 2.5em;
}
.main-content h2 {
  font-size: 1.5em;
}
.main-content p {
  padding-bottom: 30px;
  font-size: 1em;
}
.main-content img {
  padding: 16px;
}
@media only screen and (max-width: 768px) {
  .main-content {
    margin-bottom: 160px;
  }
  .main-content .pull-right {
    float: none !important;
    margin: 0 auto;
  }
  .main-content h1 {
    font-size: 2em;
  }
}

.collapse-panel {
  margin-bottom: 10px;
}
.collapse-panel .collapse-heading {
  position: relative;
  text-align: center;
  color: #fff;
  cursor: pointer;
  -moz-transition: color, 0.5s, ease-in;
  -o-transition: color, 0.5s, ease-in;
  -webkit-transition: color, 0.5s, ease-in;
  transition: color, 0.5s, ease-in;
}
.collapse-panel .collapse-heading:hover, .collapse-panel .collapse-heading:focus {
  background: #b90f00;
}
.collapse-panel .collapse-body {
  display: none;
}
.collapse-panel .collapse-body a {
  color: #fff;
  display: block;
}

.filter {
  width: 100%;
  height: 110px;
  text-align: right;
  position: relative;
  margin-bottom: 30px;
}
.filter .collapse-panel {
  border-bottom: none;
  margin-bottom: 20px;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.filter .collapse-panel .collapse-heading {
  position: relative;
  text-align: center;
  padding: 0 20px;
  height: 42px;
  line-height: 42px;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  font-size: 1.125em;
  cursor: pointer;
}
.filter .collapse-panel .collapse-heading:hover, .filter .collapse-panel .collapse-heading:focus {
  background-color: transparent;
  background-color: rgba(84, 84, 84, 0.5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#80545454,endColorstr=#80545454);
  zoom: 1;
}
.filter .collapse-panel .collapse-body {
  position: absolute;
  left: 0;
  top: 50px;
  display: none;
  width: 100%;
}
.filter .collapse-panel .collapse-body .tab-group {
  padding: 0 20px;
  border-bottom: 1px solid #343434;
  height: auto;
  text-align: right;
}
.filter .collapse-panel .collapse-body .tab-group .tab {
  background: none;
  height: 42px;
  line-height: 36px;
  padding: 0 20px;
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
  border: 1px solid #545454;
  color: #7a7a7a;
  width: auto;
  border: 2px solid #545454;
}
.filter .collapse-panel .collapse-body .tab-group .tab:hover, .filter .collapse-panel .collapse-body .tab-group .tab.is-checked {
  color: #fff;
  border: 2px solid #7a7a7a;
}
.filter .collapse-panel .collapse-body.open {
  display: block;
}
.filter .collapse-panel .collapse-body a {
  color: #fff;
  display: block;
  padding: 2px 10px;
  text-align: right;
}

.top-banner.slider {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .top-banner.slider {
    padding-top: 172px;
    max-height: none;
  }
}
@media only screen and (max-width: 768px) {
  .top-banner.slider {
    max-height: none;
  }
}

#carousel-top.carousel {
  width: 100%;
  margin-top: 0;
}
#carousel-top .carousel-inner {
  position: relative;
}
#carousel-top .carousel-inner .col-md-8.img-wrapper, #carousel-top .carousel-inner .col-md-8.video-wrapper {
  height: 420px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
#carousel-top .carousel-inner .col-md-4.carousel-caption {
  position: static;
  text-align: left;
}
#carousel-top .carousel-inner .col-md-4.carousel-caption span.cate-tab {
  position: relative;
  top: -24px;
  right: 18px;
  padding: 10px 20px;
  line-height: 1.75em;
  background: #6d3c78;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 6px;
  color: #fff;
  float: right;
}
#carousel-top .carousel-inner .col-md-4.carousel-caption p {
  max-height: 196px;
  overflow: hidden;
}
#carousel-top .carousel-inner button {
  position: absolute;
  right: 0;
  top: 350px;
}
#carousel-top .carousel-inner.short .col-md-4.carousel-caption p {
  max-height: 170px;
}
#carousel-top .carousel-indicators {
  left: 98%;
  width: 200px;
}
#carousel-top .carousel-indicators li {
  border: none;
  background: #545454;
  display: block;
  float: left;
  margin-right: 6px;
}
#carousel-top .carousel-indicators li.active {
  background: #fff;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  #carousel-top .carousel-inner button {
    top: 300px;
  }
  #carousel-top .carousel-inner .col-md-8.img-wrapper, #carousel-top .carousel-inner .col-md-8.video-wrapper {
    height: 375px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1100px) {
  #carousel-top .carousel-inner button {
    top: 320px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  #carousel-top {
    max-height: none;
    padding-bottom: 30px;
  }
  #carousel-top .carousel-indicators {
    left: 50%;
    width: 60%;
  }
  #carousel-top .carousel-indicators li {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
  }
  #carousel-top .carousel-inner {
    max-height: none;
  }
  #carousel-top .carousel-inner .col-md-8.img-wrapper, #carousel-top .carousel-inner .col-md-8.video-wrapper {
    height: auto;
  }
  #carousel-top .carousel-inner .col-md-4.carousel-caption span.cate-tab {
    top: -20px;
  }
  #carousel-top .carousel-inner .col-md-4.carousel-caption p {
    max-height: none;
    padding-bottom: 20px;
  }
  #carousel-top .carousel-inner .col-md-4.carousel-caption button {
    position: static;
  }
}
@media only screen and (max-width: 768px) {
  #carousel-top {
    max-height: none;
  }
  #carousel-top .carousel-indicators {
    left: 50%;
    width: 60%;
  }
  #carousel-top .carousel-inner {
    padding-bottom: 20px;
    max-height: none;
  }
  #carousel-top .carousel-inner .col-md-8.img-wrapper, #carousel-top .carousel-inner .col-md-8.video-wrapper {
    height: auto;
  }
  #carousel-top .carousel-inner .col-md-4.carousel-caption span.cate-tab {
    top: -18px;
  }
  #carousel-top .carousel-inner .col-md-4.carousel-caption p {
    max-height: none;
    padding-bottom: 20px;
  }
  #carousel-top .carousel-inner .col-md-4.carousel-caption button {
    position: static;
  }
}
@media only screen and (max-width: 480px) {
  #carousel-top .carousel-inner .col-md-4.carousel-caption p {
    padding-bottom: 10px;
  }
  #carousel-top .carousel-indicators {
    bottom: -20px;
  }
}
