#search .breadcrumbs {
  margin-top: 170px;
}
#search ::-webkit-scrollbar {
  display: none;
}
#search .input-group {
  height: 50px;
  width: 100%;
  overflow-x: scroll;
}
#search .input-group a {
  color: #000;
}
#search .input-group .input-group-btn {
  margin: 0 10px;
}
#search .input-group .input-group-btn a {
  color: #fff;
  background: #b90f00;
  padding: 6px 4px;
}
#search .input-group .input-group-btn a:first-of-type {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 0 0 6px;
  margin-left: 3px;
}
#search .input-group .input-group-btn a:nth-last-of-type(1) {
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 6px 6px 0;
  border-left: 1px solid #e8999d;
}
#search .input-group .input-group-btn a i {
  padding: 0;
  margin: 0;
}
#search .input-group .input-group-btn a.clear {
  display: block;
  background: none;
  color: #b90f00;
  border: none;
  margin-right: 4px;
}
#search .input-group input[type="text"] {
  margin: 8px 0;
  overflow: hidden;
  border: none;
  width: 100%;
  min-width: 220px;
}
#search .input-group input[type="text"]:focus, #search .input-group input[type="text"]:hover, #search .input-group input[type="text"]:active {
  border: none;
}

.search-wrapper {
  background: #fff;
  position: relative;
  padding: 0 5px;
}
.search-wrapper .input-group-wrapper {
  overflow: auto;
  padding-right: 120px;
  width: 85%;
}
.search-wrapper .result-block {
  text-align: right;
  position: absolute;
  background: #fff;
  right: 3px;
  top: 0;
  height: 50px;
  line-height: 50px;
  min-width: 80px;
  z-index: 999;
  color: #000;
  font-size: 0.9em;
  padding: 0;
}
.search-wrapper .result-block span {
  padding: 0;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.categary {
  *zoom: 1;
}
.categary:after, .categary:before {
  content: "";
  display: table;
}
.categary:after {
  clear: both;
}
.categary h2 {
  border-top: 1px solid #545454;
  margin: 20px auto 0;
  padding: 16px 0 0;
}
@media only screen and (max-width: 768px) {
  .categary h2 {
    margin: 15px auto;
  }
}
@media only screen and (max-width: 480px) {
  .categary h2 {
    margin: 5px auto;
  }
}

.list-group {
  width: 100%;
  margin: 0 auto 6px;
  clear: both;
  *zoom: 1;
}
.list-group:after, .list-group:before {
  content: "";
  display: table;
}
.list-group:after {
  clear: both;
}
.list-group .col-xs-4 {
  padding: 0;
}
.list-group .col-xs-4 img {
  padding: 0;
}
.list-group .list {
  padding: 10px 0;
  clear: both;
  *zoom: 1;
}
.list-group .list:after, .list-group .list:before {
  content: "";
  display: table;
}
.list-group .list:after {
  clear: both;
}
.list-group .list .btn {
  margin: 0 0 0 1px;
  padding: 7px 5px;
  border: 0;
  background: #b90f00;
  color: #fff;
  font-size: 0.8em;
}
.list-group .list .btn:hover, .list-group .list .btn:active, .list-group .list .btn:focus {
  background: #000;
  border: none;
}
.list-group p {
  padding-bottom: 10px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .list-group p {
    display: none;
  }
  .list-group .col-xs-8 {
    padding: 0 8px;
  }
}
@media only screen and (max-width: 768px) {
  .list-group p {
    display: none;
  }
  .list-group .list .btn {
    padding: 6px 5px;
  }
  .list-group .col-xs-8 {
    padding: 0;
  }
}
@media only screen and (max-width: 767px) {
  .list-group h3 {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 480px) {
  .list-group .col-xs-4, .list-group .col-xs-8 {
    width: 100%;
  }
}
