#search .breadcrumbs {
  margin-top: 170px;
}
#search ::-webkit-scrollbar {
  display: none;
}
#search .input-group {
  height: 50px;
  width: 100%;
  overflow-x: scroll;
}
#search .input-group a {
  color: #000;
}
#search .input-group .input-group-btn {
  margin: 0 10px;
}
#search .input-group .input-group-btn a {
  color: #fff;
  background: #b90f00;
  padding: 6px 4px;
}
#search .input-group .input-group-btn a:first-of-type {
  -moz-border-radius: 6px 0 0 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px 0 0 6px;
  margin-left: 3px;
}
#search .input-group .input-group-btn a:nth-last-of-type(1) {
  -moz-border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0;
  border-radius: 0 6px 6px 0;
  border-left: 1px solid #e8999d;
}
#search .input-group .input-group-btn a i {
  padding: 0;
  margin: 0;
}
#search .input-group .input-group-btn a.clear {
  display: block;
  background: none;
  color: #b90f00;
  border: none;
  margin-right: 4px;
}
#search .input-group input[type="text"] {
  margin: 8px 0;
  overflow: hidden;
  border: none;
  width: 100%;
  min-width: 220px;
}
#search .input-group input[type="text"]:focus, #search .input-group input[type="text"]:hover, #search .input-group input[type="text"]:active {
  border: none;
}

.search-wrapper {
  background: #fff;
  position: relative;
  padding: 0 5px;
}
.search-wrapper .input-group-wrapper {
  overflow: auto;
  padding-right: 120px;
  width: 85%;
}
.search-wrapper .result-block {
  text-align: right;
  position: absolute;
  background: #fff;
  right: 3px;
  top: 0;
  height: 50px;
  line-height: 50px;
  min-width: 80px;
  z-index: 9999;
  color: #000;
  font-size: 0.9em;
  padding: 0;
}
.search-wrapper .result-block span {
  padding: 0;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.list-group {
  width: 100%;
  padding: 10px 0;
  margin: 0 auto;
  clear: both;
  *zoom: 1;
}
.list-group:after, .list-group:before {
  content: "";
  display: table;
}
.list-group:after {
  clear: both;
}
.list-group h2 {
  border-bottom: 1px solid #545454;
  margin: 10px auto;
}
.list-group .list {
  padding: 10px 0;
  clear: both;
  *zoom: 1;
}
.list-group .list:after, .list-group .list:before {
  content: "";
  display: table;
}
.list-group .list:after {
  clear: both;
}
.list-group .list .btn {
  margin: 0;
}
