@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

.card, .card-content {
	span {
		z-index: 9;
		text-align: center;
		&.cate-tab {
			position: absolute;
			width: 60px;
			height: 60px;
			padding: 10px;
			line-height: $xl-font;
			background: $purple;
			@include border-radius(0 0 6px 0);
			color: $white;
		}
	}
	.content {
		padding: 20px;
		@include clearfix;
	}
	h3 {
		color: $red;
		line-height: $xl-font;
	}
	h4 {
		font-weight: normal;
			padding-right: 4px;
			font-size: $s-font;
			color: $medium-gray;
	}
}
.card {
	position: relative;
	width: 300px;
	height: 500px;
	background: $white;
	text-align: justify;
	margin: 10px;
	float: left;
	vertical-align: top;
	@include inline-block;
	@include box-shadow ($gray 0 0 10px);
	span {
		&.cate-tab {
			left: 0;
		}
		&.collect {
			position: absolute;
			right: 4px;
			top: 4px;
		}
	}
	button {
		position: absolute;
		right: 0;
		bottom: 16px;
	}
	.pic {
		width: 300px;
		height: 240px;
		position: relative;
		img {
			height: 240px;
			left: -70px;
			position: absolute;
			clip: rect(0px,370px,240px,70px);
			padding: 0;
		}
	}
	&.youtube {
		.pic {
			width: 300px;
			height: 240px;
			img {
				height: 320px;
				left: -65px;
				top: -40px;
				clip: rect(40px,365px,280px,65px);
			}
			a {
				display: block;
				height: 240px;
				@include transparent($black,.2);
				position: relative;
				z-index: 4;
				&:hover {
					@include transparent($black,0);
				}
			}
			i {
				position: absolute;
				top: 45%;
				left: 125px;
				z-index: 3;
				color: $white;
				background: $red;
				display: block;
				width: 50px;
				height: 50px;
				line-height: 50px;
				@include border-radius(100%);
				text-align: center;
				font-size: $xxxl-font;
			}
		}
	}
	.main-content & {
		width: 340px;
		height: 540px;
		margin: 16px;
		float: none;
		@include inline-block;
		.pic {
			width: 340px;
			height: 272px;
			img {
				height: 272px;
				left: -79px;
				clip: rect(0,419px,272px,79px);
			}
		}
		&.youtube {
			.pic {
				width: 340px;
				height: 272px;
				img {
					height: 365px;
					left: -72px;
					top: -47px;
					clip: rect(47px,412px,319px,72px);
				}
				a {
					display: block;
					height: 240px;
					@include transparent($black,.2);
					position: relative;
					z-index: 4;
					&:hover {
						@include transparent($black,0);
					}
				}
				i {
					position: absolute;
					top: 45%;
					left: 125px;
					z-index: 3;
					color: $white;
					background: $red;
					display: block;
					width: 50px;
					height: 50px;
					line-height: 50px;
					@include border-radius(100%);
					text-align: center;
					font-size: $xxxl-font;
				}
			}
		}
	}
	&.short {
		height: 480px;
		.content {
			h3 {
				max-height: 25px;
			}
		}
	}
	&.medium {
		height: 500px;
		.btn-group {
			margin-top: -10px;
		}
	}
	.thearter-list & , &.ticket {
		.btn-group {
			display: block;
			text-align: center;
			.btn {
				@include inline-block;
				position: static;
				margin: 0 -1px;
				float: none;
			}
		}
		.btn {
			padding: 8px 18px;
			border: 0;
			background: $red;
			color: $white;
			&:hover, &:active, &:focus {
				background: $black;
				border: none;
			}
		}
	}
	&.ticket {
		width: 90%;
		height: auto;
		text-align: left;
		.pic, .content {
			@include inline-block;
			vertical-align: top;
		}
		.pic {
			width: 420px;
			height: 230px;
			float: left;
			img {
				height: 230px;
				left: 0;
				clip: inherit;
			}
		}
		.content {
			display: block;
			h4 {
				margin: 5px 0;
				span {
					padding-right: 10px;
				}
			}
			p {
				padding-bottom: 6px;
				max-height: none;
			}
		}
		.btn-group {
			float: right;
			margin: -13px 26px;
		}
	}
	.content {
		max-height: 210px;
		overflow: hidden;
		h3, p {
			overflow: hidden;
		}
		h3 {
			font-size: $xl-font;
			max-height: 50px;
		}
		> p {
			color: $black;
			max-height: 92px;
			line-height: $xxxl-font;
		}
	}
	@include respond-to (lg-screen){
		.thearter-list & {
			margin: 6px;
		}
	}
	@include respond-to (tablet-landscape){
		.main-content & {
			margin: 10px 8px;
		}
	}
	@include respond-to (normal-mobile){
		.main-content & {
			width: 286px;
			height: 500px;
			margin: 10px auto;
		}
		&.youtube {
			.pic {
				width: 300px;
				height: 240px;
				img {
					height: 320px;
					left: -70px;
					top: -40px;
					clip: rect(40px,356px,280px,70px);
				}
			}
		}
	}
}
.card-content {
	width: 100%;
//	padding: 10px;
	span {
		&.cate-tab {
			@include border-radius(0 0 6px 6px);
		}
	}
	.content {
		p {
			line-height: $xxxl-font;
		}
	}
	.card {
		p {
			line-height: $xxl-font;
		}
	}
	.title-group {
		margin-left: 68px;
		margin-bottom: 12px;
		h3 {
			font-size: $xxxl-font;
			line-height: $m-font;
		}
		h4 {
			line-height: $xxxxl-font + $s-font;
		}
	}
	img {
		margin: 0 auto;
	}
}
.thearter-list {
	margin: 20px auto;
	padding: 20px 0;
	@include clearfix;
	p {
		margin: 10px auto;
	}
}
