@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

.card, .card-content {
	span {
		z-index: 9;
		text-align: center;
		&.cate-tab {
			position: absolute;
			width: 60px;
			height: 60px;
			padding: 10px;
			line-height: $xl-font;
			background: $purple;
			@include border-radius(0 0 6px 0);
			color: $white;
		}
	}
	.content {
		padding: 20px;
		@include clearfix;
	}
	h3 {
		color: $red;
		line-height: $xl-font;
	}
	h4 {
		font-weight: normal;
			padding-right: 4px;
			font-size: $s-font;
			color: $medium-gray;
	}
}
.card {
	position: relative;
	width: 300px;
	height: 500px;
	background: $white;
	text-align: justify;
	margin: 10px;
//	float: left;
	vertical-align: top;
	@include inline-block;
	@include clearfix;
	@include box-shadow ($gray 0 0 10px);
	span {
		&.cate-tab {
			left: 0;
		}
		&.collect {
			position: absolute;
			right: 4px;
			top: 4px;
		}
	}
	button {
		position: absolute;
		right: 0;
		bottom: 16px;
	}
	.pic {
		width: 300px;
		height: 240px;
		position: relative;
		img {
			height: 240px;
			left: -70px;
			position: absolute;
			clip: rect(0px,370px,240px,70px);
			padding: 0;
		}
	}
	&.short {
		height: 480px;
		.content {
			h3 {
				max-height: 25px;
			}
		}
	}
	&.medium {
		height: 500px;
		.btn-group {
			margin-top: -10px;
		}
	}
	&.thearter , &.ticket {
		.btn-group {
			display: block;
			text-align: center;
			.btn {
				@include inline-block;
				position: static;
				margin: 0 -1px;
				float: none;
			}
		}
		.btn {
			padding: 8px 18px;
			border: 0;
			background: $red;
			color: $white;
			&:hover, &:active, &:focus {
				background: $black;
				border: none;
			}
		}
	}
	.content {
		max-height: 210px;
		overflow: hidden;
		h3, p {
			overflow: hidden;
		}
		h3 {
			font-size: $xl-font;
			max-height: 50px;
		}
		> p {
			color: $black;
			max-height: 92px;
			line-height: $xxl-font;
		}
	}
	&.youtube {
		.pic {
			width: 300px;
			height: 240px;
			img {
				height: 320px;
				left: -65px;
				top: -40px;
				clip: rect(40px, 365px, 280px, 65px);
			}
			a {
				display: block;
				height: 240px;
				@include transparent($black, .2);
				position: relative;
				z-index: 4;
				&:hover {
					@include transparent($black, 0);
				}
			}
			i {
				position: absolute;
				top: 45%;
				left: 125px;
				z-index: 3;
				color: $white;
				background: $red;
				display: block;
				width: 50px;
				height: 50px;
				line-height: 50px;
				@include border-radius(100%);
				text-align: center;
				font-size: $xxxl-font;
			}
		}
	}
	@include respond-to (xlg-screen){
		.main-content & {
			width: 340px;
			height: 540px;
			margin: 20px 16px;
			.pic {
				width: 340px;
				height: 272px;
				img {
					height: 272px;
					left: -79px;
					clip: rect(0,419px,272px,79px);
				}
			}
		}
		&.youtube {
			.pic {
				width: 340px;
				height: 272px;
				img {
					height: 365px;
					left: -72px;
					top: -47px;
					clip: rect(47px,412px,319px,72px);
				}
				a {
					height: 272px;
				}
				i {
					top: 41%;
					left: 145px;
				}
			}
		}
	}
	&.ticket, &.collection {
		width: 100%;
		height: auto;
		text-align: left;
		clear: both;
		.pic, .content {
			@include inline-block;
			vertical-align: top;
		}
		.pic {
			float: left;
			img {
				left: 0;
				clip: inherit;
			}
		}
		.content {
			display: block;
			h4 {
				margin: 5px 0;
				span {
					padding-right: 10px;
				}
			}
			p {
				padding-bottom: 6px;
				max-height: none;
			}
		}
		.btn-group {
			float: right;
			margin: -13px 26px;
		}
	}
	&.ticket {
		margin: 16px 0!important;
		.pic {
			width: 420px;
			height: 230px;
			
			img {
				height: 230px;
			}
		}
	}
	&.collection {
		width: 100%;
		height: 80px;
		margin: 10px 1px;
		display: block;
		span {
			&.cate-tab {
				width: auto;
				height: auto;
				padding: 4px 10px;
				font-size: $s-font;
				left: 146px;
				top: 0;
			}
			&.collect {
				top: 20px;
				right: 6px;
			}
		}
		.pic, h3, .btn-group {
			@include inline-block;
			vertical-align: top;
		}
		h3 {
			font-size: $m-font;
			width: 50%;
			max-height: 40px;
			margin: 30px 10px 0 30px;
			overflow: hidden;
			color: $black;
		}
		.pic {
			width: 146px;
			height: 80px;
			img {
				height: 80px;
			}
		}
		.btn-group {
			position: absolute;
			top: 20px;
			right: 48px;
			margin: 0;
			button {
				position: static;
				margin: 0 0 0 1px;
				padding: 10px 5px;
				border: 0;
				background: $red;
				color: $white;
				font-size: $xs-font;
				&:hover, &:active, &:focus {
					background: $black;
					border: none;
				}
			}
			.dropdown-menu {
				width: 100%;
			}
		}
	}
	@include respond-to (lg-screen){
		.main-content & {
			margin: 6px;
		}
		&.thearter {
			margin: 6px 5px;
		}
		&.ticket {
			.pic {
				width: 300px;
				height: 240px;
				float: left;
				img {
					height: 240px;
					left: -70px;
					position: absolute;
					clip: rect(0px,370px,240px,70px);
					padding: 0;
				}
			}
		}
		&.youtube {
			margin: 6px 5px;
		}
	}
	@include respond-to (tablet-landscape){
		.main-content & {
			margin: 10px 8px;
		}
		&.ticket {
			.pic {
				width: 300px;
				height: 240px;
				img {
					height: 240px;
					left: -70px;
					position: absolute;
					clip: rect(0px,370px,240px,70px);
					padding: 0;
				}
			}
			.content {
				p {
					line-height: $xxl-font;
				}
			}
		}
	}
	@include respond-to (md-screen){
		.main-content & {
			margin: 10px 8px;
		}
		&.ticket {
			.pic {
				width: 260px;
				height: 240px;
				float: left;
				img {
					height: 240px;
					left: -90px;
					position: absolute;
					clip: rect(0px,350px,240px,90px);
					padding: 0;
				}
			}
		}
	}
	@include respond-to (only-device){
		&.ticket {
			.content {
				p {
					line-height: $xl-font;
				}
			}
		}
	}
	@include respond-to (only-mobile){
		&.ticket {
			.pic {
				width: 100%;
				height: auto;
				float: none;
				img {
					height: auto;
					position: static;
					width: 100%;
					clip: inherit;
				}
			}
			.content {
				clear: both;
				max-height: none;
				p {
					line-height: $xxl-font;
				}
			}
			.btn-group {
				margin: -5px 26px 20px;
			}
		}
		&.collection {
			span {
				&.cate-tab {
					left: 0;
				}
				&.collect {
					top: 5px;
					right: 6px;
					width: 30px;
					height: 30px;
					line-height: 30px;
				}
			}
			h3 {
				font-size: $m-font;
				width: 54%;
				max-height: 40px;
				margin: 36px 10px 0 10px;
				overflow: hidden;
				color: $black;
			}
			.pic {
				width: 146px;
				height: 80px;
				img {
					height: 80px;
				}
			}
			.btn-group {
				top: 5px;
				right: 40px;
				button {
					position: static;
					margin: 0 0 0 1px;
					padding: 6px 5px;
					border: 0;
					background: $red;
					color: $white;
					font-size: $xs-font;
					&:hover, &:active, &:focus {
						background: $black;
						border: none;
					}
				}
			.dropdown-menu {
					width: 100%;
				}
			}
		}
	}
	@include respond-to (normal-mobile){
		width: 96%;
		height: 450px;
		margin-bottom: 100px;
		.pic {
			width: 100%;
			height: auto;
			img {
//				left: 0;
				width: 100%;
				height: auto;
				position: static;
				clip: inherit;
			}
		}
		#news & {
			width: 320px;
			height: 440px;
			margin: 10px auto 20px;
		}
		&.youtube {
			width: 320px;
			.pic {
				width: 320px;
				height: 175px;
				a {
					height: 175px;
				}
				img {
					position: absolute;
					height: 240px;
					left: 0;
					top: -30px;
					clip: rect(30px,320px,205px,0);
				}
			}
		}
		&.collection {
			h3 {
				width: 46%;
			}
		}
		&.collection.youtube {
			width: 100%;
		}
		&.short {
			height: 440px;
		}
		&.ticket {
			.btn-group {
				float: none;
				margin: -5px auto 20px;
			}
		}
	}
	@media only screen and (max-width: 420px){
		height: 450px;
		&.short {
			height: 390px;
		}
	}
	@include respond-to (xxs-mobile){
		width: 97%;
		height: 400px;
		margin: 16px 0;
		.main-content & {
			margin: 16px 0;
		}
		&.collection {
			span {
				&.collect {
					top: 40px;
					right: 6px;
				}
			}
			.btn-group {
				right: 6px;
			}
			h3 {
				width: 120px;
			}
		}
		#news & {
			width: 286px;
			height: 410px;
		}
		&.youtube {
			width: 286px;
			.pic {
				width: 286px;
				height: 163px;
				a {
					height: 163px;
				}
				img {
					position: absolute;
					height: 240px;
					left: 0;
					top: -26px;
					clip: rect(26px,286px,188px,0);
				}
			}
		}
	}
	&.collection.youtube {
		.pic {
			width: 146px;
			height: 80px;
			img {
				height: 120px;
				left: -7px;
				top: -16px;
				clip: rect(16px,153px,96px,7px);
			}
			a {
				height: 80px;
			}
			i {
				top: 25%;
				left: 52px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: $xl-font;
			}
		}
	}
}
.card-content {
	width: 100%;
//	padding: 10px;
	span {
		&.cate-tab {
			@include border-radius(0 0 6px 6px);
		}
	}
	.content {
		p {
			line-height: $xxxl-font;
		}
	}
	.card {
		p {
			line-height: $xxl-font;
		}
	}
	.title-group {
		margin: 60px 0 12px 68px;
		h3 {
			font-size: $xxxl-font;
			line-height: $m-font;
		}
		h4 {
			line-height: $xxxxl-font + $s-font;
		}
	}
	img {
		margin: 0 auto;
	}
}
.thearter-list {
	margin: 20px auto;
	padding: 20px 0;
	text-align: center;
	@include clearfix;
	p {
		margin: 10px auto;
	}
}
