@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
.note {
	font-size: $xs-font;
	font-weight: 400;
}
sup {
	font-size: $xs-font;
}
h1 {
	font-size: $xxxxl-font;
	line-height: $l-font;
	font-weight: 900;
	@include stronger-lighting;
}
h3 {
	font-weight: 400;
	line-height: $xxl-font;
	&.title {
		font-weight: 900;
		font-size: $xxxl-font;
	}
}
h4 {
	font-weight: 700;
	font-size: $xl-font;
}
h5 {
	font-weight: 400;
	line-height: $xl-font;
}
.col-25 {
	@include respond-to (only-device){
		width: 42%;
	}
}
#intro.section {
	@include respond-to (all-mobile){
		h1 {
			font-size: $xxl-font;
		}
	}
	h2 {
		font-size: $l-font;
		line-height: $l-font;
		font-weight: 400;
	}
	.col-md-6:nth-of-type(2) {
		h2 {
			font-size: $xl-font;
			line-height: $l-font;
		}
	}
	h3 {
		text-align: left;
	}
}
#intro.section-page {
	h1 {
		font-size: $xxxxl-font;
		line-height: $l-font;
		font-weight: 900;
		@include stronger-lighting;
	}
	h2 {
		line-height: $l-font;
	}
	h3 {
		text-align: left;
		line-height: $xl-font;
	}
	@include respond-to (only-device){
		h1 {
			font-size: $xxxl-font;
		}
	}
	.Equipment & {
		@include respond-to (xxs-device){
			height: 700px;
		}
	}
}
#main-content {
	h2 {
		text-align: center;
		font-size: $xxxxl-font;
		line-height: $l-font;
		span {
			font-size: $s-font;
			font-weight: 400;
		}
	}
	h3 {
		@include respond-to (only-device){
			font-size: $xm-font;	
		}
	}
	@include respond-to (only-device){
		h2 {
			font-size: $xxxl-font;
			span {
				font-size: $xs-font;
				
			}
		}
	}
}
.modal {
	h2 {
		text-align: center;
		font-size: $xxxl-font;
		line-height: $l-font;
	}
}
.Equipment {
	.section2 {
		h4 {
			margin-bottom: 10px;
			line-height: $l-font;
		}
		h5 {
			font-size: $m-font;
		}
		@include respond-to (lg-screen){
			.square-w4 {
				height: 278px;
			}
		}
		@include respond-to (md-screen){
			.square-w4 {
				height: 374px;
			}
		}
		@include respond-to (only-device){
			.square-w4 {
				height: 374px;
			}
		}
		@include respond-to (xxs-device){
			.square-w4 {
				height: auto;
			}
		}
	}
	.section3 {
		.class-tab {
			li {
				a {
					font-size: $m-font;
					font-weight: 400;
					height: 60px;
					padding: 6px 10px;
					
				}
				&:nth-of-type(1) a, &:nth-of-type(2) a, &:nth-of-type(3) a{
					padding-top: 18px;
				}
			}
		}
		@include respond-to (lg-screen){
			.class-tab {
				li {
					a {
						height: 80px;
					}
				}
				li {
					&:nth-of-type(1) a{
						padding-top: 18px;
					}
					&:nth-of-type(2) a, &:nth-of-type(3) a{
						padding-top: 28px;
					}
				}
			}
		}
		@include respond-to (md-screen){
			.class-tab {
				li {
					a {
						height: 80px;
					}
				}
				li {
					&:nth-of-type(1) a, &:nth-of-type(2) a, &:nth-of-type(3) a{
						padding-top: 18px;
					}
				}
			}
		}
		@include respond-to (sm-screen){
			.class-tab {
				li {
					a {
						height: 80px;
					}
				}
				li {
					&:nth-of-type(1) a, &:nth-of-type(2) a, &:nth-of-type(3) a{
						padding-top: 18px;
					}
				}
			}
		}
		@include respond-to (only-device){
			.class-tab {
				li {
					a {
						height: 78px;
						font-size: $s-font;
					}
				}
				li {
					&:nth-of-type(1) a, &:nth-of-type(2) a, &:nth-of-type(3) a{
						padding-top: 18px;
					}
				}
			}
		}
		@include respond-to (all-mobile){
			.class-tab {
				li {
					a {
						height: 126px;
						font-size: $s-font;
					}
				}
				li {
					&:nth-of-type(1) a, &:nth-of-type(2) a, &:nth-of-type(3) a{
						padding-top: 18px;
					}
				}
			}
		}
		@include respond-to (all-mobile){
			.class-tab {
				li {
					height: auto;
					a {
						padding: 4px;
						height: 146px;
						font-size: $xs-font;
					}
				}
			}
		}
	}
}
#portfolio-carousel {
	height: 300px;
	margin-bottom: 20px;
	@include respond-to (md-screen){
		height: 400px;	
	}
}
.Media {
	#main-content h2 {
		text-align: left;
	}
	.section4 {
		h4 {
		}
	}
	.section5 {
		.col-sm-4,.col-sm-8 {
			padding: 0 6px;
		}
	}
	.section6 {
		h5.note {
			font-size: $xxl-font;
			line-height: $l-font;
			color: $black;
			span {
				display: block;
			}
		}
		@include respond-to (xlg-screen){
			.col-xs-12 .square-w4 {
				height: 202px;
			}
		}
		@include respond-to (lg-screen){
			.col-xs-12 .square-w4 {
				height: 202px;
			}
		}
		@include respond-to (md-screen){
			.col-xs-12 .square-w4 {
				height: 196px;
			}
		}
		@include respond-to (only-device){
			.col-xs-12 .square-w4 {
				height: auto;
			}
		}
	}
}
.Train {
	#section2 {
		figure {
			figcaption {
				height: 60px;
				display: table;
				a {
					display: table-cell;
					vertical-align: middle;
				}
				@include respond-to (lg-screen){
					font-size: $m-font;
				}
				@include respond-to (md-screen){
					font-size: $m-font;
				}
				@include respond-to (all-mobile){
					font-size: $xs-font;
					a {
						padding: 6px;
						height: 40px;
					}
				}
			}
		}
	}
	.info-block .num-group {
		padding: 10px 10px 20px;
	}
	.num-group.font-s {
		font-size: $m-font;
	}
	#section3 {
		p {
			text-align: left;
		}
	}
	#section4 {
		.square-w9 {
			h3 {
				.pink-block {
					padding: 4px 0;
					width: 44%;
					text-align: center;
					height: 44px;
					line-height: 38px;
					>span {
						font-size: $xs-font;
						@include inline-block;
					}
				}
				.grey-block {
					width: 56%;
					font-size: $xxs-font;
					height: 44px;
				}
			}
		}
		@include respond-to (md-screen){
			.square-w9 {
				h3 {
					.pink-block {
						width: 100%;
					}
					.grey-block {
						width: 100%;
						text-align: center;
					}
				}
			}
		}
		@include respond-to (only-device){
			.square-w9 {
				h3 {
					.pink-block {
						width: 100%;
					}
					.grey-block {
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}

//icon
.fix-icon {
	width: 60px;
	&.top {
		bottom: 70px;
	}
	&.donate {
		height: 50px;
	}
}
