@import 'compass';
@import 'screen';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';
//@import 'base/css3-mixins';

/* ------------ base ------------ */
body, html {
	min-height: 100%!important;
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif,'arial', "微軟正黑體", "Microsoft JhengHei";
	font-size: 100%;
	word-wrap: break-word;
	word-break: normal;
	line-height: 1.75;
	background: $black;
}
//h-style
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	letter-spacing: 0;
	line-height: 1.8;
}
h2 { font-size: $xxxxl-font;}
h3 { font-size: $xxl-font; }
h5 { font-size: $l-font; }
//p
p { font-size: $m-font;}
a {
	color: $red;
	@include transition(color, .5s, ease-in);
	&:hover, &:focus { 
		text-decoration: none;
		color: $dark-red;
	}
}
hr {
	margin: 40px auto;
}
.clearfix {
	@include clearfix;
}
//color
.red {
	color: $red;
}
.yellow {
	color: $yellow;
}
//i
i.fa {
	margin: 0 5px;
}
i.fa-line {
	background: #00c300 image-url('icon_line.png') center center no-repeat;
	@include background-size(60%);
	width: 26px;
	height: 26px;
	@include inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
i.fa-yahoo-custom {
	background: image-url('icon_yahoo.png') bottom no-repeat;
	@include background-size(contain);
	width: 30px;
	height: 19px;
	margin-top: 2px;
	@include inline-block;
}
//form-control
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="tel"], button.btn {
	@include border-radius(40px);
	box-shadow: none;
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], select.form-control {
	border: 2px solid $light-gray;
}
.form-control {
	margin: 10px auto;
	label {
		text-align: left;
	}
}
.form-group {
	@include clearfix;
}
//btn
button.btn {
	@include transition(color, .5s, ease-in);
}
button.btn-normal {
	color: $black;
	padding: 8px 20px;
	float: right;
	margin: 0 20px;
	border: 3px solid $light-gray;
	background: $white;
	&:hover, &:focus {
		background: $red; 
		color: $white;
		border: 3px solid $red;
	}
}
.btn-custom {
	margin: 4px;
	color: $white;
	&:hover {
		color: $white;
	}
}
.btn-default {
	border: 3px solid $light-gray;
}
.btn-primary {
	background: $red;
	border: 0;
	&:hover, &:focus, &:active {
		background: $dark-red;
	}
}
.btn-fb {
	@extend .btn-custom;
	background: $facebook;
	&:hover {
		@include transparent($facebook,.8);
	}
	&.btn-lg {
		padding: 13px 16px;
	}
}
.btn-yh {
	@extend .btn-custom;
	background: $yahoo;
	&:hover {
		@include transparent($yahoo,.8);
	}
	&.btn-lg {
		padding-top: 13px;
		padding-bottom: 10px;
	}
}
//tabs
.tab-group {
	padding: 10px 0;
	border-bottom: 1px solid $light-gray;
	text-align: left;
	@include respond-to (only-mobile){
		text-align: center;
	}
}
.tab {
	@include border-radius(6px);
	@include inline-block;
	@include transition(color, .5s, ease-in);
	background: $lighter-gray;
	border: 1px solid $lighter-gray;
	overflow: hidden;
	margin: 3px;
	color: $black;
	padding: 4px 10px;
	width: 90px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	&:hover, &:focus {
		background: $red; 
		color: $white;
	}
	&.is-checked {
		background: $red; 
		color: $white;
	}
}
.isotope {
	width: 800px;
	margin: 0 auto;
	@include respond-to (tablet-landscape){
		width: 640px;
	}
	@include respond-to (only-mobile){
		width: 320px;
	}
}
.main-content .isotope {
	width: 1140px;
	text-align: center;
	@include respond-to (xlg-screen){
		width: 1200px;
	}
	@include respond-to (lg-screen){
		width: 750px;
	}
	@include respond-to (tablet-landscape){
		width: 750px;
	}
	@include respond-to (only-mobile){
		width: 350px;
	}
	@include respond-to (xxs-mobile){
		width: 320px;
	}
}
.isotope:after {
	content: '';
	display: block;
	clear: both;
}
/* ------------ elements ------------ */
//modal
a[data-toggle=modal] {
	cursor: pointer;
}
.modal-backdrop {
	&.in {
		opacity: 1;
	}
}
.modal-dialog {
	width: 100%!important;
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
	@include clearfix;
	.modal-content {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 5% 0;
		box-shadow: none;
		border: 0;
		@include border-radius(0);
		.crazyad & {
			background: $black;
			padding: 0;
		}
		.video-stack & {
			background: $black;
		}
		@include respond-to (only-device){
			padding: 50px 0 10px;
		}
	}
	.modal-body {
		padding: 0;
		height: 100%;
		@include clearfix;
	}
	iframe {
		display: table-cell;
		height: 100%;
		width: 100%;
	}
}

//carousel
.carousel {
//	width: 80%;
	margin: 0 auto;
	.carousel-inner{
		padding: 0;
		margin: 0;
	}
	@include respond-to (only-device){
		margin: 20px auto 40px;
	}
}
.carousel-info {
	ul {
		margin: 0 auto;
		padding: 6px;
		width: 80%;
		li {
			display: block;
			margin: 0 auto;
			span {
				display: inline-block;
				vertical-align: top;
			}
			span:nth-of-type(1) {
				width: 80px;
				text-align: right;
			}
			span:nth-of-type(2) {
				width: 70%;
			}
		}
	}
	@include respond-to (only-device){
		ul { width: 100%; }
	}
}

//icon
.fix-icon {
	position: fixed;
	right: 10px;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: $m-font;
	line-height: 50px;
	z-index: 1000;
	@include border-radius(50px);
	@include transparent($red,.9);
	@include box-shadow($black 0 0 10px);
//	overflow: hidden;
	a {
		display: block;
		color: $white;
		height: 50px;
	}
	i {
		font-size: $l-font;
	}
	&.top {
		bottom: 20px;
		i {
			font-size: $xxl-font;
		}
	}
	&.series-icon {
		bottom: 80px;
		img {
			margin: 11px 4px;
		}
		.dropdown-menu {
			width: 100px;
			min-width: auto;
			left: -40px;
			top: -230px;
			@include transparent($red,.8);
			@include border-radius(0);
			li {
				a {
					color: $white;
					line-height: $xxxxl-font;
					height: auto;
					&:hover {
						@include transparent($black,.3);
					}
				}
			}
		}
	}
	@include respond-to (only-device){
	}
}
.close {
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	opacity: 1;
	overflow: hidden;
	display: inline-block;
	z-index: 9999;
	cursor: pointer;
	top: 12px;
	right: 12px;
	background: $white;
	&:hover {
		@include transparent($black,.2);
		&::before, &::after {
			background: $black;
		}
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: $black;
	}
	.video-stack & {
		background: $red;
		color: $white;
	}
	.crazyad & {
		top: 0;
		right: 0;
		width: 22px;
		height: 22px;
		background: $red;
		&::before,
		&::after {
			background: $white;
		}
	}
	&::before {
		@include transform(rotate(45deg));
	}
	&::after {
		@include transform(rotate(-45deg));
	}
	&.hairline {
		&::before, &::after {
			height: 1px;
		}
	}
}
.arrow {
	display: block;
	width: 40px;
	height: 100px;
	cursor: pointer;
	position: absolute;
	top: 37.5%;
	@include transparent ($red,.7);
	&:hover,&:focus {
		background: $red;
	}
	&::before {
		@include transform(rotate(45deg));
		position: relative;
		width: 20px;
		height: 20px;
		top: 38px;
		
		content: "";
		display: inline-block;
		margin-right: 0.5em;
	}
	&.arrow-right {
		right: 0;
		&::before {
			border-right: 2px solid $white;
			border-top: 2px solid $white;
			left: 6px;
		}
	}
	&.arrow-left {
		left: 0;
		&::before {
			border-left: 2px solid $white;
			border-bottom: 2px solid $white;
			left: 17px;
		}
	}
}
.btn-search {
	padding: 3px;
	background: $white;
	padding: 7px 8px 8px;
}
.collect {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
	@include border-radius(20px);
	overflow: hidden;
	a {
		color: $white;
		display: block;
		@include text-shadow(0 0 2px $dark-red);
		@include transparent($red,.4);
		&:hover {
			@include transparent($red,.9);
		}
		&.collected {
			@include transparent($red,1);
			text-shadow: none;
		}
	}
}

//video
.video {
	position: relative;
	margin-bottom: 40px;
	
	video {
		@include box-shadow($black 0 0 10px);
		background: $black;
		width: 80%;
		display: block;
		margin: 0 auto;
		height: auto!important;
		.modal-body & {
			width: 100%;
		}
	}
	@include respond-to (only-device){
		video { 
			width: 90%;
			margin-bottom: 20px;
		}
	}
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
	
	iframe, object, embed {
//		border: 1px solid #fff;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 90%;
		.top-banner & {
			height: 86%;
		}
	}
	
}

/* ------------ layout ------------ */
//wrapper
#wrapper {
	min-height: 100%;
}
//Navigation
#navigation {
	//logo
	header {
		background: $black;
		position: relative;
		h2.logo {
			padding: 30px 0;
			background: $black;
			img {
				margin: 0 auto;
			}
		}
		.top-nav {
			position: absolute;
			right: 10%;
			top: 10px;
			> ul > li {
				@include inline-block;
				width: 32px;
				height: 32px;
				text-align: center;
				margin-bottom: 6px;
				a {
					color: $white;
					display: block;
				}
				.dropdown-menu {
					padding: 6px;
					&.social-media {
						li {
							a {
								color: $black;
							}
						}
					}
					&.search {
						width: 270px;
						left: -110px;
						input[type="text"], div[type="button"], .input-group-btn, i {
							&:focus, &:hover, &:active {
								box-shadow: none;
							}
						}
					}
					&.language {
						padding: 5px 0;
						width: 60px;
						left: -11px;
						min-width: auto;
						li {
							display: block;
							margin: 0;
							a {
								font-size: $s-font;
								color: $black;
								background: $white;
								display: block;
								text-align: center;
								
								&:hover {
									background: $light-gray;
								}
							}
						}
						&::before {
							left: 21px;
						}
					}
				}
			}
		}
	}
	//nav
	nav {
		&.navbar {
			margin-bottom: 0;
			@include transparent($red,.8);
			@include box-shadow ($black 0 0 10px);
		}
		.navbar-header {
			button {
				margin: 8px 5px;
				padding: 12px 5px;
			}
			i {
				color: $white;
			}
		}
		.navbar-collapse {
			max-height: 400px;
			ul.navbar-nav {
				width: 100%;
				float: none;
				text-align: center;
				>li {
					float: none;
					border: none;
					cursor: pointer;
					margin-left: -4px;
					@include inline-block;
					> a {
						color: $white;
						font-size: $m-font;
						padding: 18px 30px;
						&:hover, &:focus {
							@include transparent($black,1);
							color: $white;
						}
					}
				}
				.dropdown-menu {
					font-size: $m-font;
					border: none;
					min-width: auto;
					@include box-shadow($black 0 0 10px);
					@include border-radius(0);
					&.drop-about {
						width: 166px;
					}
					&.drop-products {
						width: 134px;
					}
					li {
						display: block;
						margin: 0;
					}
					a {
						color: $black;
						display: block;
						padding: 15px 30px;
						&:hover, &:focus, &.active {
							color: $black;
							background: $lighter-gray;
						}
					}
				}
			}
			.nav {
				.open {
					@include transition(all ,.5s, ease-in-out);
				}
				.open > a {
					@include transparent($black,.2);
					border: none;
					&:hover, &:focus {}
				}
				li.active {
				}
			}
		}
	}
	//language //social media
	.visible-xs-block > ul {
		cursor: default;
		padding: 10px;
		margin-bottom: 1px;
		> li {
			vertical-align: top;
			overflow: hidden;
			@include inline-block;
			@include border-radius(21px);
			margin: 0 4px 10px;
			> a {
				color: $white;
				width: 42px;
				height: 42px;
				padding: 0;
				font-size: $l-font;
				display: block;
				text-align: center;
			}
		}
		&.language {
			li a {
				font-size: $s-font;
				line-height: 42px;
				@include transparent($black,.7);
				&:hover, &:focus, &:active {
					background: $yellow;
				}
			}
		}
		&.social-media {
			border-top: 1px solid $dark-red;
			margin-top: 5px;
			padding-top: 20px;
		}
	}
	input[type="text"], button.btn {
		border: 0;
		margin-top: 0;
	}
	#search-xs {
		padding: 10px 20px;
	}
	.visible-xs-block .social-media {
		li {
			@include box-shadow(0 0 3px $white);
			i {
				width: 42px;
				height: 42px;
				display: block;
				margin: 0;
				line-height: 42px;
			}
			&.copy-link {
				display: block;
				@include box-shadow(none);
				.btn {
					width: 32px;
					background: $black;
					a {
						padding: 0;
						i {
							margin: 0 5px;
							height: 32px;
							line-height: 32px;
							color: $white;
						}
					}
				}
			}
		}				
	}
	@include respond-to (tablet-landscape){
		nav {
			#main-nav {
				ul.navbar-nav {
					>li {
						> a {
							font-size: $m-font;
							padding: 18px 20px;
						}
					}
					.dropdown-menu {
						&.drop-about {
							width: 146px;
						}
						&.drop-theater {
							width: 114px;
						}
						a {
							padding: 12px 20px;
						}
					}
				}
			}
		}
	}
	@include respond-to (only-mobile){
		.top-nav {
			display: none;
		}
		header {
			position: absolute;
			@include transparent($black,0);
			h2.logo {
				position: relative;
				z-index: 99;
				padding: 12px 15px;
				width: 80%;
				@include transparent($black,0);
			}
		}
		nav {
			.navbar-collapse {
				ul.navbar-nav {
					width: auto;
					>li {
						display: block;
						margin: 0;
						a {
							text-align: center;
						}
					}
					.dropdown-menu {
						width: auto!important;
						@include transparent($black,.2);
						a {
							color: $white;
							&:hover, &:focus {
								color: $white;
								@include transparent($black,.2);
							}
						}
					}
				}
			}
		}
	}
	@include respond-to (xxs-mobile){
		.navbar-header {
			button {
				margin: 5px;
				padding: 6px 5px;
			}
		}
		header {
			h2.logo {
				padding: 18px 15px;
				width: 65%;
			}
		}
	}
}

.dropdown-menu {
	@include respond-to (only-desktop){
		#navigation & , &.social-media {
			&::after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				margin-left: -0.5em;
				top: 0;
				left: 49.8%;
				box-sizing: border-box;
				border: 3px solid $white;
				border-color: $white $white transparent transparent ;
				transform-origin: 0 0;
				transform: rotate(-45deg);
				box-shadow: 1px -1px 1px 0 rgba($black, 0.4);
 			}
		}
	}
	&.social-media {
		padding: 12px 10px 6px;
		width: 260px;
		left: -108px;
		li {
			@include inline-block;
			width: 110px;
			margin: 2px;
			text-align: left;
			a {
				@include inline-block;
				padding: 2px;
				width: 100px;
				color: $black;
				i {
					@include border-radius(16px);
					color: $white;
					width: 26px;
					height: 26px;
					line-height: 26px;
					padding: 0;
					font-size: $l-font;
					text-align: center;
				}
			}
		}
		&::before {
			left: 80px;
		}
		.content & {
			left: -168px;
			&::after {
				left: 188px;
 			}
		}
	}
}
.dropdown-menu.social-media,
.visible-xs-block .social-media {
	li {
		@include box-shadow(0 0 3px $white);
		&.copy-link {
			display: block;
		}
		&:nth-of-type(1) i {
			background: $facebook;
		}
		&:nth-of-type(2) i {
			background: #55acee;
		}
		&:nth-of-type(4) i {
			background: #7bb32e;
		}
		&:nth-of-type(5) i {
			background: #dc4e41;
		}
		&:nth-of-type(6) i {
			background: #bd081c;
		}
		&:nth-of-type(7) i {
			background: #d52b2b;
		}
		&:nth-of-type(8) i {
			background: #0077b5;
		}
		&.copy-link {
			width: auto!important;
			height: 50px;
			.btn,
			input {
				@include inline-block;
				vertical-align: middle;
			}
			input {
				width: 190px;
			}
			.btn {
				padding: 0;
				color: $black;
				height: 32px;
				line-height: 30px;
				text-align: center;
				background: $lighter-gray;
				a {
					padding: 2px;
					width: 32px;
					height: 32px;
					i {
						width: auto;
						color: $gray;
					}
				}
			}
		}
	}
}


//footer
footer {
	background: $red;
	margin-top: -100px;
	#index & {
		margin-top: 2px;
	}
	a {
		color: $white;
		&:hover {
			color: $white;
			text-decoration: none;
		}
	}
	.container {
		display:table;
		.row {
			display: table-row;
		}
	}
	.col-md-8, .col-md-4 {
		display: table-cell;
		height: 100%;
		vertical-align: top;
		padding: 30px 15px;
		&.no-float {
			float: none;
		}
	}
	.col-md-4 {
		background: $dark-red;
		p {
			color: $white;
			line-height: $xxxxxl-font;
			span {
				font-size: $s-font;
				color: $light-gray;
				display: block;
			}
		}
	}
	.footer-menu {
		@include inline-block;
		vertical-align: top;
		margin-right: 20px;
		text-align: left;
		h5 {
			color: $light-gray;
			font-size: $l-font;
			margin-bottom: 16px;
			a {
				color: $light-gray;
				&:hover {
					color: $white;
					text-decoration: underline;
				}
			}
		}
		a {
			color: $white;
		}
		> ul {
			padding-left: 4px;
			margin: 0 0 10px 10px;
			@include inline-block;
			vertical-align: top;
			> li {
				padding: 10px 0;
				margin-bottom: 4px;
				color: $white;
				font-size: $m-font;
				a {
					display: block;
					padding: 0 0 0 10px;
					border-left: 4px solid $white;
					line-height: 1;
					&:hover {
						color: $yellow;
						border-left: 4px solid $yellow;
					}
				}
			}
			> ul {
				padding-left: 10px;
				margin-top: -10px;
				li {
					font-size: $s-font;
					line-height: $xxxxxl-font;
					border-bottom: 1px solid $light-red;
					padding: 0 6px;
					margin-bottom: 4px;
					@include transition(color, .5s, ease-in);
					a {
						&:hover {
							color: $yellow;
						}
					}
					&:hover {
						border-bottom: 1px solid $yellow;
					}
				}
			}
		}
	}
	@include respond-to (tablet-landscape){
		.container {
			width: 100%;
			padding: 0;
		}
		.col-md-8, .col-md-4 {
			display: block;
			padding: 30px;
		}
	}
}
