@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

.key-visual {
	margin-top: 114px;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	img {
		margin: 0 auto;
	}
	.content {
		position: absolute;
		width: 440px;
		right: 5%;
		top: 50%;
		@include clearfix;
		h2 {
			font-size: $xxl-font;
			color: $white;
		}
		p {
			color: $white;
		}
	}
	@include respond-to (md-screen){
		margin-top: 50px;
		padding-bottom: 20px;
		.content {
			width: 80%;
			position: static;
			margin: 0 auto;
		}
	}
	@include respond-to (only-device){
		margin-top: 50px;
		padding-bottom: 20px;
		.content {
			width: 90%;
			position: static;
			margin: 0 auto;
		}
	}
}
.ad-block {
	img {
		margin: 20px auto 0;
	}
}
.series {
	position: relative;
	@include clearfix;
	img {
		margin: 0 auto;
	}
	.content {
		position: absolute;
		text-align: center;
		padding: 4px 0;
		min-height: 110px;
		width: 100%;
		color: $white;
		text-shadow: 0 0 5px $black;
		bottom: 0;
  		@include background-image(linear-gradient(to right, rgba($black, 0) ,rgba($black, 1), rgba($black, 0)));
		h3 {
			font-size: $xxxxl-font;
		}
		h4 {
			font-weight: normal;
			font-size: $xxl-font;
		}
	}
	@include respond-to (only-device){
		.content {
			min-height: auto;
			h3 {
				font-size: $xl-font;
				line-height: $xxl-font;
			}
			h4 {
				font-size: $m-font;
				line-height: $xxl-font;
			}
		}
	}
}