@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

body {
	background: $white;
}
.member {
	h2 {
		color: $red;
	}
	text-align: center;
	a {
		text-decoration: underline;
		padding: 0 3px;
		font-size: $s-font;
	}
	.member-block {
		margin: 30px 0;
		&:first-of-type {
			border-right: 1px solid $light-gray;
			span a {
				margin: 0 10px;
			}
			section:first-of-type .btn-fb,  {
				display: block;
				margin: 10px auto;
			}
		}
		section {
			width: 80%;
			margin: 0 auto;
			.form-group {
				input[type="email"], input[type="password"] {
					width: 200px;
				}
			}
			.checkbox {
				text-align: left;
				font-size: $s-font;
				line-height: $xxl-font;
			}
		}
		@include respond-to (only-device){
			&:first-of-type {
				border-right: 0;
				border-bottom: 1px solid $red;
				margin-bottom: 30px;
				padding-bottom: 30px;
				span a {
					margin: 0 10px;
					font-size: $s-font;
				}
			}
		}
		&.col-sm-12 {
			border: none;
		}
	}
}
.btn-fb, .btn-yh {
	i {
	}
	span {
		@include inline-block;
		line-height: 22px;
		margin-top: 0;
		vertical-align: top;
		&:before {
			border-left: 1px solid #fff;
			padding-left: 10px;
			content: ('');
		}
	}
}

.nav-tabs  {
	text-align: left;
	border-bottom: none;
	margin: 20px auto;
	> li {
		margin-bottom: 0;
		width: 100%;
		> a {
			color: $gray;
			display: block;
			@include border-radius(0);
			text-decoration: none;
			border-bottom: 1px solid $light-gray;
			&:hover, &:focus {
				color: $red;
				@include transparent($medium-gray,.6);
				border: 0;
				border-bottom: 1px solid $light-gray;
			}
		}
		&.active {
			> a {
				color: $red;
				border: 0;
				border-bottom: 1px solid $light-gray;
				&:hover, &:focus {
					color: $red;
					border: 0;
					border-bottom: 1px solid $light-gray;
				}
			}
		}
	}
}

