@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

//login + reset pwd
.member {
	h2 {
		color: $red;
	}
	text-align: center;
	span a {
		text-decoration: underline;
		padding: 0 3px;
		font-size: $s-font;
	}
	.member-block {
		margin: 30px 0;
		&:first-of-type {
			border-right: 1px solid $light-gray;
			span a {
				margin: 0 10px;
			}
			section:first-of-type .btn-fb,  {
				display: block;
				margin: 10px auto;
			}
		}
		section {
			width: 80%;
			margin: 0 auto;
			.form-group {
				input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select {
					width: 200px;
					display: block;
				}
			}
			.checkbox {
				text-align: left;
				font-size: $s-font;
				line-height: $xxl-font;
			}
		}
		@include respond-to (only-device){
			&:first-of-type {
				border-right: 0;
				border-bottom: 1px solid $red;
				margin-bottom: 30px;
				padding-bottom: 30px;
				span a {
					margin: 0 10px;
					font-size: $s-font;
				}
			}
		}
		&.col-sm-12 {
			border: none;
		}
	}
}
.btn-fb, .btn-yh {
	i {
	}
	span {
		@include inline-block;
		line-height: 22px;
		margin-top: 0;
		vertical-align: top;
		&:before {
			border-left: 1px solid #fff;
			padding-left: 10px;
			content: ('');
		}
	}
}
//reset pwd
.pwd {
	p {
		padding: 20px 0;
	}
}
//profile
.nav-tabs  {
	text-align: left;
	border-bottom: none;
	margin: 30px auto;
	> li {
		* {
			border: none!important;	
		}
		border-bottom: 1px solid $light-gray!important;
		margin-bottom: 0;
		width: 100%;
		> a {
			color: $gray;
			display: block;
			@include border-radius(0);
			text-decoration: none;
			&:hover, &:focus {
				color: $red;
				@include transparent($lighter-gray,.6);
			}
		}
		&.active {
			border: 0;
			> a {
				color: $red;
				&:hover, &:focus {
					color: $red;
				}
			}
		}
	}
	@include respond-to (tablet-landscape){
		text-align: center;
		padding-left: 20px;
		> li {
			width: 30%;
			@include inline-block;
			> a {
				padding: 12px;
				color: $gray;
				display: block;
				@include border-radius(8px 8px 0 0);
				text-decoration: none;
				&:hover, &:focus {
					color: $red;
					@include transparent($lighter-gray,.6);
				}
			}
			&.active {
				border: 0;
				> a {
					color: $red;
					@include transparent($lighter-gray,.6);
					@include border-radius(8px 8px 0 0);
					&:hover, &:focus {
						color: $red;
						@include transparent($lighter-gray,.6);
						@include border-radius(8px 8px 0 0);
					}
				}
			}
		}
	}
	@include respond-to (only-mobile){
		> li {
			> a {
				height: 68px;
				font-size: $s-font;
			}
			i {
				display: none;
			}
			span {
				display: block;
			}
		}
	}
}
.tab-content, .tab-pane {
	@include clearfix;
}
.profile-sider {
//	border-right: 1px solid $light-gray;
	img {
		width: 50px;
		height: 50px;
		overflow: hidden;
		margin: 10px auto;
		@include border-radius(50px);
	}
}
.profile {
	.member-block {
		min-height: 500px;
		border-left: 1px solid $light-gray;
		section {
			width: 100%;
			.form-group {
				input[type="text"], input[type="tel"], input[type="email"], input[type="password"], select {
					@include inline-block;
				}
			}
		}
		.profile-photo {
			width: 180px;
			height: 180px;
			margin: 10px 0 40px;
			position: relative;
			span {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 30px;
				height: 30px;
				line-height: 30px;
				@include transparent ($white,.6);
				text-align: center;
				font-size: $s-font;
				a {
					color: $white;
				}
			}
		}
		.form-group {
			text-align: left;
			margin-bottom: 0;
			span, div {
				@include inline-block;
				width: 70px;
			}
		}
		.col-sm-12 {
			.checkbox {
				@include transparent ($light-gray,.3);
				text-align: center;
				padding: 20px;
				margin-bottom: 20px;
			}
			
		}
	}
	@include respond-to (md-screen){
		.member-block {
			border-left: 0;
			.profile-photo {
				margin: 0 auto;
			}
		}
	}
	@include respond-to (only-device){
		.member-block {
			border-left: 0;
			.profile-photo {
				margin: 10px 0 40px 20px;
			}
		}
	}
	.qrcode {
		width: 200px;
		margin: 10px auto;
	}
}
