@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

.top-banner {
	padding-top: 172px;
	max-width: 1280px;
	margin: 0 auto;
	img {
		margin: 0 auto;
	}
//	@include respond-to (md-screen){
//		padding-top: 50px;
//	}
	@include respond-to (only-device){
		padding-top: 70px;
		.content {
			width: 90%;
			position: static;
			margin: 0 auto;
		}
	}
}
.breadcrumbs {
	height: $xxxxl-font+$l-font;
	border-bottom: 1px solid $red;
	border-top: 1px solid $red;
	overflow: hidden;
	li {
		@include inline-block;
		padding: 0 4px;
		color: $white;
		a {
			color: $white;
			@include inline-block;
			line-height: $xxxxl-font + $l-font;
			&:hover {
				text-decoration: underline;
			}
		}
		&:after {
			content: ('\003E');
			padding: 0 4px 0 7px;
		}
		&:nth-last-of-type(1) {
			&:after {
				content: ('');
			}
		}
	}
	@include respond-to (normal-mobile){
		li {
			padding: 0 1px;
		}
		.container {
			padding: 0 4px;
		}
	}
}
.main-content {
	color: $white;
	margin-bottom: 200px;
	padding-top: 30px;
	@include clearfix;
	h1 {
		font-size: $xxxxxl-font;
	}
	h2 {
		font-size: $xxl-font;
	}
	p {
		padding-bottom: 30px;
		font-size: $m-font;
	}
	img {
		padding: 16px;
	}
	@include respond-to (only-device){
		margin-bottom: 160px;
		.pull-right {
			float: none!important;
			margin: 0 auto;
		}
		h1 {
			font-size: $xxxxl-font;
		}
	}
}

.tabgroup {
	padding: 30px 0;
}
.tab-content {
	width: 100%;
	padding: 20px 0;
}
.tabs {
//	@include transparent($black,.6);
	padding: 0;
	border-bottom: none;
	width: 100%;
	> li {
		* {
			border: none!important;	
		}
		text-align: center;
		border-bottom: none;
		
		float: left;
		margin-right: 1px;
		padding: 0;
		#about & {
			width: 19.8%;
		}
		#news & {
			width: 24.6%;
		}
		&:first-of-type {
			margin-left: 0;
		}
		> a {
			display: block;
			padding: 8px;
			color: $white;
			@include transparent($gray,.7);
			@include border-radius(0);
			text-decoration: none;
			&.active, &:active, &:hover, &:focus {
				@include transparent($red,.7);
			}
		}
		&.active {
			border: 0;
			> a {
				color: $white;
				@include transparent($red,.7);
				&:hover, &:focus {
					color: $white;
					@include transparent($red,.7);
				}
			}
		}
	}
	.row {
		padding: 0;
	}
	@include respond-to (only-mobile){
		> li {
			#about & {
				width: 19.5%;
			}
		}
	}
	@include respond-to (normal-mobile){
		> li {
			a { 
				padding: 10px;
				height: 72px;
				line-height: 26px;
			}
			#about & {
				a {
					line-height: 52px;
				}
				&:nth-of-type(4) {
					a {
						line-height: 26px;
					}
				}
			}
			span {
				display: block;
			}
		}
	}
}
.tab-body {
	padding: 14px 0;
	@include clearfix;
	p {
		padding-bottom: 10px;
	}
}
//collapse-panel all 
.collapse-panel {
	margin-bottom: 10px;
	.collapse-heading {
		position: relative;
		text-align: center;
		color: $white;
		cursor: pointer;
		@include transition(color, .5s, ease-in);
		&:hover, &:focus {
			background: $red;
		}
	}
	.collapse-body {
		display:none;
		a {
			color: $white;
			display: block;
		}
	}
}
//filter
.filter {
	width: 100%;
	height: 110px;
	text-align: right;
	position: relative;
	margin-bottom: 30px;
	.collapse-panel {
		border-bottom: none;
		margin-bottom: 20px;
		@include inline-block;
		vertical-align: top;
		.collapse-heading {
			position: relative;
			text-align: center;
			padding: 0 20px;
			height: 42px;
			line-height: 42px;
			@include border-radius(42px);
			font-size: $l-font;
			cursor: pointer;
			&:hover, &:focus {
				@include transparent($gray,.5);
			}
		}
		.collapse-body {
			position: absolute;
			left: 0;
			top: 50px;
			display:none;
			width: 100%;
	//		@include transparent($gray,.5);
			.tab-group {
				padding: 0 20px;
	//			border-bottom: none;
				border-bottom: 1px solid $dark-gray;
				height: auto;
				text-align: right;
				.tab {
					background: none;
					height: 42px;
					line-height: 36px;
					padding: 0 20px;
					@include border-radius(42px);
					border: 1px solid $gray;
					color: $medium-gray;
					width: auto;
					border: 2px solid $gray;
					&:hover, &.is-checked {
						color: $white;
						border: 2px solid $medium-gray;
					}
				}
			}
			&.open {
				display: block;
			}
			a {
				color: $white;
				display: block;
				padding: 2px 10px;
				text-align: right;
//				&:hover, &.selected {
//				}
			}
		}
	}
	@include respond-to (normal-mobile){
		.collapse-panel {
			.collapse-heading {
				padding: 0 4px;
				height: 32px;
				line-height: 32px;
				font-size: $m-font;
			}
			.collapse-body {
				.tab-group {
					padding: 0;
					.tab {
						height: 32px;
						line-height: 28px;
						padding: 0 6px;
					}
				}
			}
		}
	}
}
//tabs
.tab-group {
	padding: 10px 0;
//	border-bottom: 1px solid $light-gray;
	text-align: left;
	@include respond-to (only-mobile){
		padding: 0;
		text-align: center;
	}
}
//isotope
.tab {
	@include border-radius(40px);
	@include inline-block;
	@include transition(color, .5s, ease-in);
	background: $lighter-gray;
	overflow: hidden;
	margin: 3px;
	color: $black;
	padding: 4px 10px;
	width: 90px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	&:hover, &:focus {
		background: $red; 
		color: $white;
	}
	&.is-checked {
		background: $red; 
		color: $white;
	}
}
.filter-wrapper {
	@include clearfix;
	width: 100%;
	.btn-cate {
		float: right;
		text-align: center;
		height: 40px;
		padding: 0 10px;
		margin: 10px 0 0;
		line-height: 40px;
		font-size: $l-font;
		@include border-radius(40px);
		display: block;
		color: $white;
		background: $red;
		cursor: pointer;
		font-size: $m-font;
		&:hover {
			color: $white;
			background: $red;
		}
	}
	@include respond-to (only-desktop){
		.btn-cate {
			display: none;
		}
		.dropdown-menu {
			display: block;
			border: none;
			background: none;
			position: static;
			@include box-shadow(none);	
		}
	}
	@include respond-to (only-device){
		.btn-cate {
			display: block;
		}
		.dropdown-menu {
			width: 120px;
			padding: 0;
			left: auto;
			right: 0;
			@include transparent($white,.9);
			.tab {
				background: $white;
				width: 100%;
				margin: 0;
				display: block;
				line-height: 30px;
				border-radius: 0;
				
				&:hover, &:focus {
					background: $red; 
					color: $white;
				}
				&.is-checked {
					background: $red; 
					color: $white;
				}
			}
		}
	}
}
.isotope {
	width: 100%;
	margin: 0 auto;
	.tab-content & {
		width: 1140px;
	}
	#member & {
		margin-bottom: 50px;
	}
	@include respond-to (lg-screen){
		.tab-content & {
			width: 940px;
		}
	}
	@include respond-to (md-screen){
		.tab-content & {
			width: 720px;
		}
	}
	@include respond-to (md-screen){
		.tab-content & {
			width: 720px;
		}
	}
	@include respond-to (only-mobile){
		.tab-content & {
			width: 320px;
		}
	}
}
#member .tab-content .isotope {	
	width: 100%!important;
}
.main-content .isotope {
}
.isotope:after {
	content: '';
	display: block;
	clear: both;
}
//slider
.top-banner.slider {
//	max-height: 450px;
	@include box-sizing(content-box);
	@include respond-to (md-screen){
		padding-top: 172px;
		max-height: none;
	}
	@include respond-to (only-device){
		max-height: none;
	}
}
#carousel-top {
//	max-height: 450px;
//	height: 450px;
	&.carousel {
		width: 100%;
		margin-top: 0;
	}
	.carousel-inner {
		position: relative;
//		max-height: 450px;
		.col-md-8.img-wrapper, .col-md-8.video-wrapper {
			height: 420px;
			padding-left: 0;
			padding-right: 0;
			overflow: hidden;
		}
		.col-md-4.carousel-caption {
			position: static;
			text-align: left;
//          padding-top: 40px;
            h2 {
                clear: both;
                line-height: $l-font;
                margin-bottom: 10px;
            }
			span.cate-tab {
//				@include inline-block;
//				margin-bottom: 10px;
				position: relative;
				top: -20px;
				left: 0;
				padding: 10px 20px;
				line-height: $xxxl-font;
				background: $purple;
				@include border-radius(0 0 6px 6px);
				color: $white;
				float: right;
			}
			p {
				max-height: 196px;
				overflow: hidden;
			}
		}
		button {
			position: absolute;
			right: 0;
			top: 350px;
		}
		&.short  {
			.col-md-4.carousel-caption {
				p {
					max-height: 170px;

				}
			}
		}
	}
	
    .carousel-indicators {
		left: 98%;
		width: 200px;
		li {
			border: none;
			background: $gray;
			display: block;
			float: left;
			margin-right: 6px;
			&.active {
				background: $white;
			}
		}
	}
	@include respond-to (lg-screen){
		.carousel-inner {
			button {
				top: 300px;
			}
			.col-md-8.img-wrapper, .col-md-8.video-wrapper {
				height: 375px;
			}
		}
	}
	@media only screen and (max-width: 1200px) and (min-width: 1100px) {
		.carousel-inner {
			button {
				top: 320px;
			}
		}
	}
	@include respond-to (md-screen){
		max-height: none;
		padding-bottom: 30px;
		
		.carousel-indicators {
			left: 50%;
			width: 60%;
			li {
				@include inline-block;
				float: none;
			}
		}
		.carousel-inner {
			max-height: none;
			
			.col-md-8.img-wrapper, .col-md-8.video-wrapper {
				height: auto;
			}
			.col-md-4.carousel-caption {
				span.cate-tab {
					top: 0;
				}
				p {
					max-height: none;
					padding-bottom: 20px;
				}
				button {
					position: static;
				}
			}
			.video-slider {
				.col-md-4.carousel-caption { 
					margin-top: -10.6%;
				}
			}
		}
	}
	@include respond-to (only-device){
		max-height: none;
		&.carousel {
		}
		.carousel-indicators {
			left: 50%;
			width: 60%;
			li {
				@include inline-block;
				float: none;
			}
		}
		.carousel-inner {
			padding-bottom: 20px;
			max-height: none;
			.col-md-8.img-wrapper, .col-md-8.video-wrapper {
				height: auto;
			}
			.col-md-4.carousel-caption {
				span.cate-tab {
					top: 0;
				}
				p {
					max-height: none;
					padding-bottom: 20px;
				}
				button {
					position: static;
				}
			}
			.video-slider {
				.col-md-4.carousel-caption { 
					margin-top: -6%;
				}
			}
		}
	}
	@include respond-to (normal-mobile){
		.carousel-inner {
			.col-md-4.carousel-caption {
				p {
					padding-bottom: 10px;
				}
			}
		}
		.carousel-indicators {
			bottom: -20px;
		}
	}
}