@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

#search {
	.breadcrumbs {
		margin-top: 170px;
	}
	::-webkit-scrollbar { 
    display: none; 
}
	.input-group {
		height: 50px;
		width: 100%;
		overflow-x: scroll;
		a {
			color: $black;
		}
		.input-group-btn {
			margin: 0 10px;
			a {
				color: $white;
				background: $red;
				padding: 6px 4px;
				&:first-of-type {
					@include border-radius(6px 0 0 6px);
					margin-left: 3px;
				}
				&:nth-last-of-type(1) {
					@include border-radius(0 6px 6px 0);
					border-left: 1px solid $light-red;
				}
				i {
					padding: 0;
					margin: 0;
				}
				&.clear {
					display: block;
					background: none;
					color: $red;
					border: none;
					margin-right: 4px;
				}
			}
		}
		input[type="text"] {
			margin: 8px 0;
			overflow: hidden;
			border: none;
			width: 100%;
			min-width: 220px;
			&:focus, &:hover, &:active {
				border: none;
			}
		}
	}
}
.search-wrapper {
	background: $white;
	position: relative;
	padding: 0 5px;
	.input-group-wrapper {
		overflow: auto;
		padding-right: 120px;
		width: 85%;
	}
	.result-block {
		text-align: right;
		position: absolute;
		background: $white;
		right: 3px;
		top: 0;
		height: 50px;
		line-height: 50px;
		min-width: 80px;
		z-index: 999;
	//	background: $white;
		color: $black;
		font-size: $s-font;
		padding: 0;
		span {
			padding: 0;
			@include inline-block;
		}
		i {
		}
	}
}
.search-wrapper {	
}

.categary {
	@include clearfix;
	h2 {
		border-top: 1px solid $gray;
		margin: 20px auto 0;
		padding: 16px 0 0;
	}
	@include respond-to (only-device){
		h2 {
			margin: 15px auto;
		}
	}
	@include respond-to (normal-mobile){
		h2 {
			margin: 5px auto;
		}
	}
}
.list-group {
	width: 100%;
	margin: 0 auto 6px;
	clear: both;
	@include clearfix;
	.col-xs-4 {
		padding: 0;
		img {
			padding: 0;
		}
	}
	.list {
		padding: 10px 0;
		clear: both;
		@include clearfix;
		.btn {
			margin: 0 0 0 1px;
			padding: 7px 5px;
			border: 0;
			background: $red;
			color: $white;
			font-size: $xs-font;
			&:hover, &:active, &:focus {
				background: $black;
				border: none;
			}
		}
	}
	p {
		padding-bottom: 10px;
	}
	@include respond-to (md-screen){
		p {
			display: none;
		}
		.col-xs-8 { 
			padding: 0 8px;
		}
	}
	@include respond-to (only-device){
		p {
			display: none;
		}
		.list {
			.btn {
				padding: 6px 5px;
			}
		}
		.col-xs-8 { 
			padding: 0;
		}
	}
	@include respond-to (only-mobile){
		h3 {
			font-size: $xl-font;
		}
	}
	@include respond-to (normal-mobile){
		.col-xs-4, .col-xs-8 { 
			width: 100%;
		}
	}
}


