@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

.key-visual {
//	padding-top: 114px;
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
	img {
		margin: 0 auto;
	}
	.content {
		position: absolute;
		width: 440px;
		max-height: 440px;
		overflow: hidden;
		right: 1%;
		top: 50%;
		@include clearfix;
		h2 {
			font-size: $xxxxxl-font;
			color: $white;
		}
		h3 {
			font-size: $xxxl-font;
			color: $white;
			font-weight: normal;
		}
		button {
			margin-top: 10px;
		}
	}
	@include respond-to (md-screen){
		padding-top: 50px;
		padding-bottom: 20px;
		.content {
			width: 80%;
			position: static;
			margin: 0 auto;
		}
	}
	@include respond-to (only-device){
		padding-top: 50px;
		padding-bottom: 20px;
		.content {
			width: 90%;
			position: static;
			margin: 0 auto;
			text-align: center;
			h2 {
				font-size: $xxxl-font;
			}
			h3 {
				font-size: $xl-font;
				color: $white;
				font-weight: normal;
			}
		}
	}
}