@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

body {
	background: $white;
}
#header {
	h1 {
		color: $black;
		text-shadow: none;
	}

}
.btn-toggle, .btn-ticket, #sidenav ul li a {
	color: $black;
	text-shadow: none;
	background: none!important;
}
#sidenav ul li {
//	background: none!important;
	&:nth-of-type(1) {
		a {
			color: $white;
		}
	}
	@include respond-to (only-mobile){
		background: none;
	}
}
@include respond-to (only-mobile){
	.btn-close {
		@include transparent($dark-red,.5);
	}
}

#wrapper {
	.container {
		padding-bottom: 200px;
	}
	background: $white;
	min-height: 100%;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 0;
	.col-md-4 {
		text-align: center;
		padding-top: 6px;
		padding-bottom: 6px;
		.cast {
			@include inline-block;
		}
		h3 {
			text-align: left;
			span {
				font-size: $xxs-font;
				padding: 0 5px;
			}
		}
	}
	@include respond-to (only-mobile){
		min-height: initial;
		.col-md-4 {
			h3 {
				font-size: $l-font;
				span {
					font-size: $xxs-font;
					padding: 0 5px;
				}
			}
		}
		.col-xs-6 {
			width: 50%;
		}
		.container {
			padding-bottom: 100px;
		}
	}
}

.nav-tabs {
	margin-bottom: 20px;
	font-size: $xl-font;
	> li {
		a {
			color: $gray;
		}
		&.active {
			> a, > a:hover, a:focus {
				color: $red;
			}
		}
	}
}

.main {
	margin: 0 auto;
	padding: 20px;
	@include respond-to (only-device){
		padding: 6px;
	}
}
.review-list {
	margin: 10px auto 20px;
	border-bottom: 1px solid $light-gray;
	img {
		width: 8%;
	}
	blockquote {
		position: relative;
		width: 90%;
		marign: 0;
		padding: 2px 28px 2px 20px;
		font-size: $l-font;
		@include inline-block;
		&:before, &:after {
			position: absolute;
			width: 30px;
			height: 30px;
			font-size: $xxxxxl-font;
			line-height: 1;
		}
		&:before {
			top: 0;
			left: 0;
			content: "\201C";
		}
		&:after {
			top: 0;
			right: 0;
			content: "\201D";
		}
		cite {
			font-size: $s-font;
			font-style: italic;
			color: $gray;
			float: right;
			padding: 10px 0;
		}
	}
	@include respond-to (only-device){
		width: 96%;
		img {
			width: 18%;
		}
		blockquote {
			width: 80%;
			font-size: $m-font;
		}
	}
}

//filter
.filter {
	width: 100%;
	height: 110px;
	text-align: right;
	position: relative;
	margin-bottom: 10px;
	.collapse-panel {
		border-bottom: none;
		margin-bottom: 20px;
		@include inline-block;
		vertical-align: top;
		.collapse-heading {
			position: relative;
			text-align: center;
			padding: 0 20px;
			height: 42px;
			line-height: 42px;
			@include border-radius(42px);
			font-size: $l-font;
			cursor: pointer;
			&:hover, &:focus {
				@include transparent($gray,.1);
			}
		}
		.collapse-body {
			position: absolute;
			left: 0;
			top: 50px;
			display:none;
			width: 100%;
			.tab-group {
				padding: 0 20px;
//				border-bottom: 1px solid $dark-gray;
				height: auto;
				text-align: right;
				.tab {
					background: none;
					height: 42px;
					line-height: 36px;
					padding: 0 20px;
					@include border-radius(42px);
					color: $medium-gray;
					width: auto;
					border: 2px solid $light-gray;
					&:hover, &.is-checked {
						color: $red;
					}
				}
			}
			&.open {
				display: block;
			}
			a {
				color: $white;
				display: block;
				padding: 2px 10px;
				text-align: right;
			}
		}
	}
	@include respond-to (normal-mobile){
		.collapse-panel {
			.collapse-heading {
				padding: 0 4px;
				height: 32px;
				line-height: 32px;
				font-size: $m-font;
			}
			.collapse-body {
				.tab-group {
					padding: 0;
					.tab {
						height: 32px;
						line-height: 28px;
						padding: 0 6px;
					}
				}
			}
		}
	}
}
//tabs
.tab-group {
	padding: 10px 0;
	text-align: left;
	@include respond-to (only-mobile){
		padding: 0;
		text-align: center;
	}
}
//isotope
.tab {
	@include border-radius(40px);
	@include inline-block;
	@include transition(color, .5s, ease-in);
	background: $lighter-gray;
	overflow: hidden;
	margin: 3px;
	color: $black;
	padding: 4px 10px;
	width: 90px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	&:hover, &:focus {
		background: $red; 
		color: $white;
	}
	&.is-checked {
		background: $red; 
		color: $white;
	}
}
.isotope {
	width: 100%;
	margin: 0 auto;
	.tab-content & {
		width: 1140px;
	}
	#member & {
		margin-bottom: 50px;
	}
}
.isotope:after {
	content: '';
	display: block;
	clear: both;
}
.card {
	margin: 6px;
	border: 1px solid $light-gray;
}

