@import 'compass';
@import 'base/fonts';
@import 'base/style';
@import 'base/media';

#wrapper {
	background: $red;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	margin-top: -60px;
//	height: 100%;
//	display: table;
	position: relative;
//	min-height:500px;
	.col-sm-6 {
//		display: table-cell;
		padding: 0;
		margin: 0;
		height: 100%;
//		float: none;
//		border: 1px solid #fff;
	}
	.col-sm-6.col-left {
		overflow: hidden;
		img, video {
			width: 100%;
			height: 100%;
			padding: 0;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	.col-sm-6.col-right {
		position: absolute;
		top: 0;
    	right: 0;
		overflow: hidden;
	}
	&.introduction {
		.col-sm-6.col-right {
			@include transparent($black,.6);
		}
	}
	&.actor-production {
		.col-sm-6.col-right {
			@include transparent($purple,.6);
		}
	}
	&.media-reviews {
		.col-sm-6.col-right {
			@include transparent($brown,.6);
		}
	}
	&.classic {
		.col-sm-6.col-right {
			@include transparent(orange,.3);
		}
	}
	.content-scroll {
		height: 100%;
		padding: 10% 8%;
		color: $white;
		.main {
			height: 100%;
			padding: 3%;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		::-webkit-scrollbar {
			width: 6px;
		} 
		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
		} 
		::-webkit-scrollbar-thumb {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
		}
		&.classics {
			padding: 60px 20px;
		}
		h2 {
			margin: 10px auto;
			span {
				padding: 0 6px;
				font-size: 16px;
			}
		}
		h3 {
			line-height: $xl-font;
			margin: 10px auto 20px;
		}
	}
	@include respond-to (md-screen){
	}
	@include respond-to (only-mobile){
		max-height: none;
		height: auto;
		.col-sm-6 {
			height: auto;
		}
		.col-sm-6.col-right {
			position: static;
		}
		.content-scroll { 
			h2 {
				font-size: $xxxl-font;
			}
			h3 {
				font-size: $xl-font;
			}
			h2, h3 {
				margin: 0;
			}
		}
	}
}
#timeline {
	position: relative;
	padding: 0 0 20px;
	@include transition(all ,.5s, ease-in-out);
	&:before {
		content:"";
		width: 1px;
		height: 100%;
		background: $white;
		left: 0;
		top: 0;
		position: absolute;
	}
	&:after {
		content: "";
		clear: both;
		display: table;
		width: 100%;
	}
	.timeline-item {
		position: relative;
		@include clearfix;
		&.year-circle {
			height: 26px;
			margin-bottom: 20px;
		}
		&:nth-of-type(1), &:nth-of-type(2), &.year-circle + .timeline-item {
			margin-top: 0;
		}
		>span {
			padding-left: 20px;
		}
		.timeline-icon {
			background: $white;
			width: 12px;
			height: 12px;
			position: absolute;
			top: 7px;
			left: -5px;
			overflow: hidden;
			@include border-radius(20px);
			&.year {
				width: 22px;
				height: 22px;
				top: 2px;
				margin-left: -5px;
			}
		}
		.timeline-content {
			float: left;
			width: 80%;
			padding: 0 10px 10px 20px;
			@include transition(all ,.3s, ease-in-out);
			p {
				padding-bottom: 6px;
				span:after {
					content: ('\002F');
					padding-left: 4px;
				}
				span:nth-last-of-type(1):after {
					content: ('');
				}
			}
			img {
				width: 100%;
				padding: 16px 6px;
			}
			
		}
	}
	@include respond-to (only-device){
		width: 80%;
		margin: 0 0 0 12px;
		&:before {
			left: 0;
		}
	}
	@include respond-to (xxs-mobile){
		width: 80%;
		margin: 0 0 0 6px;
	}
}
