.key-visual {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.key-visual img {
  margin: 0 auto;
}
.key-visual .content {
  position: absolute;
  width: 440px;
  max-height: 440px;
  overflow: hidden;
  right: 1%;
  top: 50%;
  *zoom: 1;
}
.key-visual .content:after, .key-visual .content:before {
  content: "";
  display: table;
}
.key-visual .content:after {
  clear: both;
}
.key-visual .content h2 {
  font-size: 2.5em;
  color: #fff;
}
.key-visual .content h3 {
  font-size: 1.75em;
  color: #fff;
  font-weight: normal;
}
.key-visual .content button {
  margin-top: 10px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .key-visual {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .key-visual .content {
    width: 80%;
    position: static;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .key-visual {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .key-visual .content {
    width: 90%;
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  .key-visual .content h2 {
    font-size: 1.75em;
  }
  .key-visual .content h3 {
    font-size: 1.25em;
    color: #fff;
    font-weight: normal;
  }
}
