#wrapper {
  background: #b90f00;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-top: -60px;
  position: relative;
}
#wrapper .col-sm-6 {
  padding: 0;
  margin: 0;
  height: 100%;
}
#wrapper .col-sm-6.col-left {
  overflow: hidden;
}
#wrapper .col-sm-6.col-left img, #wrapper .col-sm-6.col-left video {
  width: 100%;
  height: 100%;
  padding: 0;
}
#wrapper .col-sm-6.col-left iframe {
  width: 100%;
  height: 100%;
}
#wrapper .col-sm-6.col-right {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
#wrapper.introduction .col-sm-6.col-right {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  zoom: 1;
}
#wrapper.actor-production .col-sm-6.col-right {
  background-color: transparent;
  background-color: rgba(109, 60, 120, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#996D3C78,endColorstr=#996D3C78);
  zoom: 1;
}
#wrapper.media-reviews .col-sm-6.col-right {
  background-color: transparent;
  background-color: rgba(70, 58, 40, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99463A28,endColorstr=#99463A28);
  zoom: 1;
}
#wrapper .content-scroll {
  height: 100%;
  padding: 10% 8%;
  color: #fff;
}
#wrapper .content-scroll .main {
  height: 100%;
  padding: 2%;
  overflow-y: scroll;
}
#wrapper .content-scroll ::-webkit-scrollbar {
  width: 6px;
}
#wrapper .content-scroll ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
#wrapper .content-scroll ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
#wrapper .content-scroll h2 {
  margin: 10px auto;
}
#wrapper .content-scroll h2 span {
  padding: 0 6px;
  font-size: 16px;
}
#wrapper .content-scroll h3 {
  line-height: 1.25em;
  margin: 10px auto 20px;
}
@media only screen and (max-width: 767px) {
  #wrapper {
    max-height: none;
    height: auto;
  }
  #wrapper .col-sm-6 {
    height: auto;
  }
  #wrapper .col-sm-6.col-right {
    position: static;
  }
  #wrapper .content-scroll h2 {
    font-size: 1.75em;
  }
  #wrapper .content-scroll h3 {
    font-size: 1.25em;
  }
  #wrapper .content-scroll h2, #wrapper .content-scroll h3 {
    margin: 0;
  }
}

#timeline {
  position: relative;
  padding: 0 0 20px;
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  -webkit-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
}
#timeline:before {
  content: "";
  width: 1px;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  position: relative;
  *zoom: 1;
}
#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: "";
  display: table;
}
#timeline .timeline-item:after {
  clear: both;
}
#timeline .timeline-item.year-circle {
  height: 26px;
  margin-bottom: 20px;
}
#timeline .timeline-item:nth-of-type(1), #timeline .timeline-item:nth-of-type(2), #timeline .timeline-item.year-circle + .timeline-item {
  margin-top: 0;
}
#timeline .timeline-item > span {
  padding-left: 20px;
}
#timeline .timeline-item .timeline-icon {
  background: #fff;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 7px;
  left: -5px;
  overflow: hidden;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
#timeline .timeline-item .timeline-icon.year {
  width: 22px;
  height: 22px;
  top: 2px;
  margin-left: -5px;
}
#timeline .timeline-item .timeline-content {
  float: left;
  width: 80%;
  padding: 0 10px 10px 20px;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  -webkit-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}
#timeline .timeline-item .timeline-content p {
  padding-bottom: 6px;
}
#timeline .timeline-item .timeline-content p span:after {
  content: "/";
  padding-left: 4px;
}
#timeline .timeline-item .timeline-content p span:nth-last-of-type(1):after {
  content: "";
}
#timeline .timeline-item .timeline-content img {
  width: 100%;
  padding: 16px 6px;
}
@media only screen and (max-width: 768px) {
  #timeline {
    width: 80%;
    margin: 0 0 0 12px;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item {
    margin-top: 0;
    margin-bottom: 20px;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
    padding: 6px;
  }
  #timeline .timeline-item .timeline-content h2 {
    padding: 12px 6px;
    font-size: 1em;
    margin: -6px -6px 0 -6px;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #b90f00;
  }
  #timeline .timeline-item .timeline-icon {
    left: -2px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 0.9em;
  }
  #timeline .timeline-item .timeline-icon.year {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: -31px;
    font-size: 1.125em;
  }
}
@media only screen and (max-width: 320px) {
  #timeline {
    width: 80%;
    margin: 0 0 0 6px;
  }
}
